[2014-06-26 00:41] gridaphobe opened #37 "Replace String with Text"
We use `String`s all over the place, especially as `Symbol`s. This is super inefficient, which becomes apparent once you start treating liquidhaskell/fixpoint as more than a pre-processor for the ocaml fixpoint binary.

We should just use `Text` instead. @ranjitjhala, btw is lazy text really necesary in `L.F.SmtLib2`? I think we'd be fine sticking to the strict version, any individual smt command/

[2014-07-24 00:08] #37 closed, assigned to gridaphobe

[2015-02-05 11:53] peti opened #44 "liquid-fixpoint-0.2.1.1 build failure"
Citing from http://hydra.cryp.to/build/536618/nixlog/1/raw:

    Linking dist/build/fixpoint/fixpoint ...
    /bin/sh: ./configure: /bin/bash: bad interpreter: No such file or directory
    EXEC: ./configure
    Setup: cmd: ./configure failure code 126

I believe the most portable way to refer to `bash` is to start it as `/usr/bin/env bash`. `/bin/bash` does not exist on many system, i.e. most BSD

[2015-02-05 14:13] ranjitjhala commented on #44
Whoops! Thanks for pointing this out! We'll update the build script shortly!

[2015-02-06 23:10] gridaphobe commented on #44
@peti this should be fixed in the new `liquid-fixpoint-0.2.2.0` release.

[2015-02-06 23:10] #44 closed

[2015-02-08 12:44] peti commented on #44
Unfortunately, the 0.2.2.0 build fails exactly the same way: http://hydra.cryp.to/build/537199/log/raw.

[2015-02-08 12:47] peti commented on #44
Duh, wait! I just realized that the new build has a different error. It fails because it can't find `/usr/bin/env`! :flushed:

Now I'm a little worried, because I would have bet that this path is available inside of a Nix chroot environment, but apparently it isn't???

[2015-02-08 12:50] peti commented on #44
I suppose this issue needs to be fixed in NixOS: https://github.com/NixOS/nixpkgs/issues/6227. Thank you for your efforts!

[2015-02-08 19:19] gridaphobe opened #46 "parse . pprint != id"
See https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/tests/test.hs for a failing quickCheck property.

[2015-02-08 19:36] ranjitjhala commented on #46
Can you create a few concrete checks that fail so that we don't have to run quick check to get them?

[2015-02-08 20:49] gridaphobe commented on #46
Hrm, something's fishy here, upon closer inspection

[code]

and yet, LH renders the same expression as `Set_mem x keys y`... Note that even the outer parens are missing, do we have a separate pretty-printer in the LH repo??

[2015-02-11 07:35] panagosg7 opened #48 "Multiple BitVector bindings"
See
https://github.com/panagosg7/liquid-fixpoint/blob/master/tests/bitvector-buggy.fq

The extra BitVector binding causes crash.

[2015-02-11 16:33] ranjitjhala commented on #48
Odd! I'll look into this this morning

[2015-02-11 20:08] ranjitjhala commented on #48
Oops. I *still* can't write regexps!

Fixed by https://github.com/ucsd-progsys/liquid-fixpoint/commit/57f35df8ce5c837ac1ee284e49788ce9870ae0cf

[2015-02-11 20:08] #48 closed

[2015-02-13 09:31] spinda commented on #46
Yes we do. LH's `PPrint` instance for `Expr` is in [Types.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/master/src/Language/Haskell/Liquid/Types.hs#L1334). It was originally in PrettyPrint.hs, where it was introduced in [this commit](https://github.com/ucsd-progsys/liquidhaskell/commit/4545d7c30be92dbb9156843e9fe5a99804e0c882), a week before the one that [introduced pretty-printing to liq

[2015-02-13 12:46] ranjitjhala commented on #46
Thanks! Yes, this will make it a lot easier to fix this issue...

On Fri, Feb 13, 2015 at 1:31 AM, Michael Smith <notifications@github.com>
wrote:

--
Ranjit.

[2015-02-13 13:15] ranjitjhala commented on #46
@gridaphobe -- do you think you can take a crack at this after your RE?
Should be easy?

[2015-02-13 16:09] gridaphobe commented on #46
@spinda thanks for digging around! I'll look into a fix next week.

[2015-02-19 00:31] gridaphobe opened #51 "fixpoint.native compile fails"
From travis
[code]

[2015-02-19 00:37] nikivazou commented on #51
Sorry... should be fine now

[2015-02-19 00:37] #51 closed

[2015-02-19 01:14] nikivazou opened #52 "How bad is this message?"
https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/external/fixpoint/ast.ml#L1192

ie., can I safely ignore it?

@ranjitjhala

[2015-02-19 01:31] ranjitjhala commented on #52
Probably shouldn't happen but can be deferred to after the deadline...?

[2015-02-19 01:44] nikivazou commented on #52
I think we can defer/ignore it, but I wanted you to verify it:)

This is the minimal LiquidHaskell example:

[code]

that triggers

[code]

[2015-02-19 01:57] ranjitjhala commented on #52
This is bad: it should be rejected as a malformed spec unless we lift "F" into the logic...

Eg can you try this code:

foo :: x:a -> y:a -> {v = F x}
foo x y = F y

I fear it will pass.

[2015-02-19 01:57] ranjitjhala commented on #52
Which is clearly unsound.

[2015-02-19 02:06] nikivazou commented on #52
[code]
soundly fails with

[code]

[2015-02-19 02:10] nikivazou commented on #52
Interestingly, there is no
[code]
in
[code]

I suspect `F` gets into scope when it appears in the code (and not only in the specifications)
as mentioned in  ucsd-progsys/liquidhaskell#337

[2015-02-19 02:19] ranjitjhala commented on #52
Hmm ok... But you can have malformed data definitions so we should fix this ASAP after icfp

[2015-02-19 02:19] gridaphobe commented on #52
@nikivazou yes this sounds familiar. Datacons are definitely lifted into the logic (and have been for quite some time) when they appear in the CoreBinds. IIRC this is perhaps the sole purpose of the `freeSymbols` stuff in Bare.

[2015-02-19 02:22] nikivazou commented on #52
Correct, this is unsoundly SAFE

[code]

@gridaphobe, Datasons should be lifted even if they do not appear in CoreBinds, IMO

[2015-02-19 02:23] gridaphobe commented on #52
I totally agree :)

[2015-02-19 04:34] spinda commented on #52
I think the two issues may be unrelated. This fails:

[code]

[code]

whereas this passes:

[code]

It's as if standalone signatures on datacons are assumed, not checked.

[2015-03-05 17:29] peti opened #55 "liquid-fixpoint-0.2.3.0 can't compile its test suite"
See http://hydra.cryp.to/build/606710/nixlog/2/raw for a complete build log.

[2015-03-05 18:04] gridaphobe commented on #55
Thanks @peti, I actually meant to disable it entirely as it doesn't test anything useful at the moment. Just pushed `0.2.3.1` which removes the test-suite from the cabal file.

[2015-03-05 18:04] #55 closed

[2015-03-16 21:59] panagosg7 opened #56 "Polymorphic instantiation"
The following seems to cause a "Bad Constraint", as the return type of `offset` does not get instantiated correctly.
[code]
The following make the error go away:
* Defining `offset` as `constant offset : func(0, [int; int])`
* Using `offset([1]) ~~ 0` & the `-u` flag, instead of `offset([1]) = 0`

[2015-03-16 22:44] ranjitjhala commented on #56
This is strange. Can you see if

  0 = offset([1])

works?

On Mon, Mar 16, 2015 at 2:59 PM, Panagiotis Vekris <notifications@github.com

--
Ranjit.

[2015-03-16 22:50] panagosg7 commented on #56
That also fails

[2015-03-16 23:00] ranjitjhala commented on #56
Blugh pretty sure there is a fixpoint option that needs to be triggered; as I had to fix this elsewhere...

Let me take a look...

[2015-03-16 23:05] ranjitjhala commented on #56
Can you add a dummy binder

z : v=0

To the env and replace

= 0

With

= z

And check if that works?

[2015-03-16 23:08] panagosg7 commented on #56
Yup, that seems to fix it.

[2015-03-16 23:20] ranjitjhala commented on #56
okay, I will extend that patch took account for this case as well

[2015-03-16 23:36] ranjitjhala commented on #56
Just updated liquid-fixpoint can you see if the new thing works for you?

On Mon, Mar 16, 2015 at 4:20 PM, Ranjit Jhala <rjhala@eng.ucsd.edu> wrote:

--
Ranjit.

[2015-03-17 00:31] panagosg7 commented on #56
Yes, this seems to fix this. Thanks!

[2015-03-17 00:31] #56 closed

[2015-03-23 22:24] nikivazou opened #57 "`cabal install` does not update the `fixpoint.native` executable"
neither does

[code]

[2015-03-23 22:32] gridaphobe commented on #57
You need to run `cabal install -fbuild-external` in order to produce a new `fixpoint.native`.

[2015-03-23 22:43] nikivazou commented on #57
nice, thanks!

[2015-03-23 22:43] #57 closed

[2015-04-20 21:45] nikivazou opened #59 "Crash on Untyped Qualifiers"
The following [code](https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/external/fixpoint/tests/UnTypedQuals.fq)

[code]

Crashes with

[code]

I.e. the `Auto1` qualifier is untyped. But these is no such issue for the `Auto2` qualifiers.
So, @ranjitjhala do we allow unsorted qualifiers or not?

The above error is created from the following liquidHaskell code

[code]

Where the qualifiers

[2015-04-20 22:09] nikivazou commented on #59
The crash is created by the line

https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/external/fixpoint/tpGen.ml#L206

What is the purpose of this line? May I remove it?

[2015-04-21 00:39] nikivazou commented on #59
So, removing the above line makes other liquidHaskell tests crash.
For example, `tests/pos/elements.hs` crashes with
[code]

and `tests/pos/ListElems.hs` is UNSAFE.

[2015-04-21 02:51] ranjitjhala commented on #59
@nikivazou what is the exact command to fixpoint.native that triggers the above collapse?

[2015-04-21 03:14] nikivazou commented on #59
I just run fixpoint.native no parameters or liquid on the haskell file
On Apr 20, 2015 7:52 PM, "Ranjit Jhala" <notifications@github.com> wrote:

[2015-04-21 13:25] ranjitjhala commented on #59
OK, so the "problem" is that the qualifier

[code]

is "malformed" because the `bar(VV)` is not well typed (as `bar :: Int -> Int` but is applied here to `VV::a`.

You can fix it by **EITHER** changing the above qualifier to:

[code]

**OR** by making `bar` polymorphic:

[code]

I say "problem" because this is somewhat a consequence of my hacky
implementation of sort- polymorphism in fixpoint. (At

[2015-04-21 14:20] nikivazou commented on #59
Ok, sorry the exact command is the one that liquid uses:

[code]

The problem is a bit more hacky:
`fixpoint` likes the qualifier `Auto2` even though it is malformed. But rejects (and crashes on) `Auto1` which is equally malformed. If you delete the first line in my initial example there is no crash.

Given that  `((? barr([VV])) <=> true)` is a `Pred` and `(bar([VV]) = 0)` is an `Expr`,
the first

[2015-04-21 20:13] ranjitjhala commented on #59
@nikivazou did you see my comment above? **BOTH** qualifiers are "bad" and i get errors if I leave either one in the file...

[2015-04-21 21:11] nikivazou commented on #59
What do you mean "you get errors"?

If I run `fixpoint.native` on
[code]

I get `SAT` and no error!

[2015-04-21 21:14] nikivazou commented on #59
Btw, I agree that both qualifiers are BAD, but
1. `Auto2` is incorrectly not treated as bad, and
2. Apparently, liquidHaskell relies on this "feature" to implement "malformed" measures, ie the measures that for example apply to `List Int` instead of `List a`.

[2015-04-21 21:18] ranjitjhala commented on #59
hmm... not sure what you mean by "1" or "2" lets discuss in person tomorrow?

On Tue, Apr 21, 2015 at 2:14 PM, Niki Vazou <notifications@github.com>
wrote:

--
Ranjit.

[2015-04-21 21:18] nikivazou commented on #59
ok!

[2015-04-21 21:31] ranjitjhala commented on #59
ah, ok -- i was getting them BOTH to fail because I had uncommented an
extra ASSERT in the code :-/  -- now I can replicate the problem you have.
The issue is you want BOTH to be rejected right? (independently)

On Tue, Apr 21, 2015 at 2:18 PM, Niki Vazou <notifications@github.com>
wrote:

--
Ranjit.

[2015-04-21 21:35] nikivazou commented on #59
Nice!

The issue is that I can see why both should fail, but liquidHaskell depends on them not failing (see "2" above).

So if we fix liquid-fixpoint so that they both fail, we will break liquidHaskell.....

At least, both (`Auto1` and `Auto2`) should  be treated in the same way (either both fail or none.)

[2015-04-21 21:38] ranjitjhala commented on #59
Can you explain "2" ? How does LH exactly use this feature? (Whats a
concrete example?)

On Tue, Apr 21, 2015 at 2:35 PM, Niki Vazou <notifications@github.com>
wrote:

--
Ranjit.

[2015-04-21 21:39] nikivazou commented on #59
Consider the code
[code]

Then the type of `Nil` is

[code]

which creates the above two qualifiers

[2015-04-21 21:44] ranjitjhala commented on #59
but but but ... that makes no sense... i.e. the type of Nil is NOT WF...

On Tue, Apr 21, 2015 at 2:39 PM, Niki Vazou <notifications@github.com>
wrote:

--
Ranjit.

[2015-04-21 21:46] nikivazou commented on #59
But this is how we implement these "malformed" measures.
The non-wf components are filtered out before going to fixpoint environments.
But in Haskell environment these non wf are there.

[2015-04-21 22:11] ranjitjhala commented on #59
Not clear if thats the most compelling argument. Maybe we need a less hacky
way to implement specialized measures :)

At any rate, for now, you can add "-allquals" to the fixpoint.native
command and it
should work fine.

On Tue, Apr 21, 2015 at 2:46 PM, Niki Vazou <notifications@github.com>
wrote:

--
Ranjit.

[2015-04-21 22:46] ranjitjhala commented on #59
I have a branch called "diff" on fixpoint, where I attempt to consistently
add the same
check everywhere (and you don't need that "-allquals" business.)

Can you see if it breaks any LH tests?

[2015-04-21 22:50] ranjitjhala commented on #59
sorry can you try the "diff" branch now?

On Tue, Apr 21, 2015 at 3:46 PM, Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

--
Ranjit.

[2015-04-22 00:24] nikivazou commented on #59
Actually, liquidHaskell does not compile with `diff` due to the extra argument in `Loc`.

[2015-04-27 23:06] #59 closed

[2015-04-28 16:56] gridaphobe opened #62 "Re-enable linking against z3?"
Now that Z3 has been released under the MIT license (https://github.com/Z3Prover/z3) it might be worth dusting off the z3mem version of fixpoint. We could statically link fixpoint against z3 and remove the runtime dependency (as well as providing a sizeable performance boost).

[2015-04-28 23:01] ranjitjhala commented on #59
@nikivazou why was this closed? I am getting a few failing tests on the 'cut solver' branch and I think it *may* have to do with the changes here...

[2015-04-28 23:04] nikivazou commented on #59
I closed it because you fixed it, as it does not crash on untyped qualifiers any more.

[2015-04-28 23:07] ranjitjhala commented on #59
well... not clear if all the regrtests are passing thanks to that "fix".

was that fix merged into master?

[2015-04-28 23:11] nikivazou commented on #59
Yes, at least my liquidHaskell code, ie
[code]

is SAFE now on master, before it used to crash.

[2015-04-28 23:12] nikivazou commented on #59
On liquidHaskell master  all regression tests pass.

[2015-05-19 17:41] gridaphobe commented on #52
@nikivazou is this still an issue? The line you linked to has changed, so I'm not sure what the original issue was :)

[2015-05-19 17:43] nikivazou commented on #52
The issue is warnings like

[code]

I still get them, but ignore them.

[2015-05-19 17:45] gridaphobe commented on #52
Is it something that can/should be fixed before I make another release? (ie in the next few days?)

[2015-05-19 17:56] nikivazou commented on #52
I guess if these warnings are not important we can suppress them.

[2015-05-21 09:41] peti opened #66 "liquid-fixpoint-0.3.0.0 fails its test suite because of missing files"
Citing from http://hydra.cryp.to/build/875820/log/raw:

[code]

[2015-05-21 14:23] ranjitjhala commented on #66
Oops! thats odd, will look into it, thanks for pointing out @peti

[2015-05-22 00:33] gridaphobe commented on #66
Thanks for the report @peti, I never realized that our test files weren't included in the `tgz` :(

Just pushed a new version to hackage that should be fixed!

[2015-05-22 00:33] #66 closed

[2015-05-27 18:27] bmcfluff opened #67 "Function as argument"
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/cutsolver/tests/todo/func-arg.fq

external/fixpoint/fixpoint.native returns SAT, but the haskell solver throws an error

[2015-05-27 20:44] ranjitjhala commented on #67
thanks for the super minimal example! will look into this asap.

[2015-05-27 21:27] bmcfluff opened #68 "Disallow bogus substitutions?"
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/cutsolver/tests/weird/bogus.fq

Note that this isn't just a hand-crafted edge-case - you can find a similar bogus substitution if you run liquid on https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/pos/TopLevel.hs and then search for tmp_x_185

[2015-05-27 22:09] ranjitjhala commented on #68
Ok let's discuss right now?

[2015-05-27 22:29] ranjitjhala commented on #68
This is fine, because in `$k__0[q:=r]` the `q` is **not** in the domain of `k__0` so we can just eliminate the substitution entirely...

[2015-05-27 22:30] ranjitjhala commented on #67
Which is the benchmark from which this is from?

[2015-05-27 23:48] ranjitjhala commented on #67
Pushed an edit that filters out Higher Order binders, works for this (and other tests) so closing.

[2015-05-27 23:48] #67 closed

[2015-06-01 17:54] bmcfluff commented on #68
Eliminate.hs now handles this correctly

[2015-06-01 17:54] #68 closed

[2015-06-01 19:06] bmcfluff opened #70 "[cutsolver] Multiple Sorts"
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/cutsolver/tests/todo/multiple-sorts.fq

The Ocaml solver accepts it while the Haskell solver rejects it. (It's an excerpt from the fq file that LH generates from https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/pos/tyvar.hs)

[2015-06-01 19:32] bmcfluff opened #71 "[cutsolver] "Cut" keyword"
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/a74815085ea63653d179c4a996e82c8c9a140efc/tests/todo/cut-keyword.fq

(excerpt of fq file generated by LH from https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/pos/Class2.hs)

[2015-06-01 21:53] bmcfluff opened #72 "[cutsolver] Parse error"
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/cutsolver/tests/todo/unexpected-ge.fq

(adapted from ite1.hs.fq)

[2015-06-02 17:21] ranjitjhala commented on #72
Fixed by: 86cf3040f523dab4558f178efa75a0583ce99d80

(basically, disable ternary exprs in `e ? e : e` form, require: `if e then e else e`)

[2015-06-02 17:21] #72 closed

[2015-06-02 18:05] ranjitjhala commented on #71
Fixed by dd1ae19f3c0aab7599698615603780923b35f3db (or thereabouts).

[2015-06-02 18:05] #71 closed

[2015-06-03 23:36] bmcfluff opened #74 "[cutsolver] Float Literal"
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/cutsolver/tests/todo/float-literal.fq

(excerpt from LH https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/pos/Fractional.hs)

[2015-06-03 23:46] bmcfluff opened #75 "[cutsolver] "named expression already defined with this name""
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/cutsolver/tests/todo/overwrite-names.fq

(excerpt from LH https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/pos/Overwrite.hs)

If you change the name of the constant, the test will pass. How do we avoid this kind of name conflict?

[2015-06-06 06:20] bmcfluff commented on #70
Addressed by af4e59fc2354be7d690f389060aabae024bb55f6

[2015-06-06 06:20] #70 closed

[2015-06-06 14:01] ranjitjhala commented on #74
Fixed by

https://github.com/ucsd-progsys/liquid-fixpoint/commit/1eaf8c2d6db42ae514954b6fdedecf7ff4b88702

[2015-06-06 14:01] #74 closed

[2015-06-06 14:03] ranjitjhala commented on #75
@bmcfluff I can fix this (the fix is to just memoize names of function symbols so we don't *define* the same symbol twice in SMT land...

[2015-06-06 15:37] ranjitjhala commented on #70
Wow! Do the previously failing tests now pass?

[2015-06-07 02:56] bmcfluff commented on #70
Yes
On Sat, Jun 6, 2015 at 8:37 AM Ranjit Jhala <notifications@github.com>
wrote:

[2015-06-07 18:43] ranjitjhala opened #76 "[cutsolver] failing tests"
@bmcfluff I have tweaked the `make test` so that all the .fq tests are run with `-e` (and also the ones particular to --eliminate). There are a couple of tests that fail with `--eliminate`, namely:

+ tests/pos/test3.fq
+ tests/elim/test2.fq

Can you take a look?

[2015-06-07 22:12] nikivazou opened #77 "Sort check fails on application with polymorophic arguments"
The following tests [tests/crash.fq](https://github.com/ucsd-progsys/liquid-fixpoint/blob/950feb7308d525ede2f682b3735779f8f6e93b9b/external/fixpoint/tests/crash.fq) makes fixpoint ast.ml unification fail at [sortcheck_pred](https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/external/fixpoint/ast.ml#L1391).

In short the following expression is bad typed: `foo ([Nil([])]) = Nothing ([])`

[2015-06-07 23:17] ranjitjhala commented on #77
I am not surprised, but what is the environment in which it fails? (i.e. types of `foo`, `Nil`, `Nothing` etc.)

[2015-06-07 23:26] ranjitjhala commented on #75
Fixed by https://github.com/ucsd-progsys/liquid-fixpoint/pull/78

[2015-06-07 23:29] ranjitjhala commented on #77
Ok, yes, I can see the problem. It is possible to add more special case hacks to support this, but I'd rather we just did it properly in the first place! One question: can you get this to run with the '--native' fixpoint solver?

[2015-06-07 23:33] nikivazou commented on #77
What is the `--native` fixpoint solver?

My code is

[code]

And I run it with

[code]

[2015-06-07 23:38] ranjitjhala commented on #77
'--native' is the new "pure haskell" version of fixpoint, you can do:

   liquid --native foo.hs

to run it (I think).

   .cabal-sandbox/bin/fixpoint -n fixme.fq

seems to work for the above file...

​

[2015-06-08 20:15] #77 closed

[2015-06-08 20:16] bmcfluff commented on #76
For the first of these at least, the problem is that renameAll performs the
following transformation:

bind 0 x ...
$k0[x := e]

to

bind 0 lq_rnm_x ...
$k0[x := e][x := lq_rnm_x]

when in fact we need either

bind 0 lq_rnm_x ...
$k0[lq_rnm_x := x][x := e][x := lq_rnm_x]

or

bind 0 lq_rnm_x ...
$k0[lq_rnm_x := e]

On Sun, 7 Jun 2015 at 11:43 Ranjit Jhala <notifications@github.com> wrote:

[2015-06-10 18:18] bmcfluff commented on #76
tests/pos/test3.fq:
addressed by ad590659505cb4c1a4a21b7875ae98cc9237d344

tests/elim/test2.fq:
I think the circular dependencies in this test may make it unsolvable by the eliminate algorithm alone?

[2015-06-10 18:37] ranjitjhala commented on #76
​the 'tests/elim' are just those fq files that are to be run with `-e`​ (in
short, its ok if it cannot be solved be elim alone but requires qualifiers
*after* the eliminate phase.)

does that make sense? (or were you worried about something else?)

On Wed, Jun 10, 2015 at 11:18 AM, bmcfluff <notifications@github.com> wrote:

--
Ranjit.

[2015-06-10 21:39] bmcfluff commented on #76
In that case, should this issue be closed? The first test passed and the
second isn't expected to pass in its current state (i.e. without
qualifiers).

On Wed, 10 Jun 2015 at 11:37 Ranjit Jhala <notifications@github.com> wrote:

[2015-06-10 23:19] ranjitjhala commented on #76
Hang on, I believe the test is there because it passes with -n but fails with -n -e which should never happen.

[2015-06-11 09:02] bmcfluff commented on #76
At present it fails with both -n and -ne

[2015-06-11 09:02] #76 closed

[2015-06-12 23:01] ranjitjhala commented on #76
ok, interesting because i "wanted" k0 to be eliminated
and not k1. I modified the test to add a

   cut $k1

and now it works with -n -e (but not -n).

[2015-06-26 10:02] spinda opened #81 ""Warning: File listed in liquid-fixpoint/liquid-fixpoint.cabal file does not exist: external/ocamlgraph/.depend""
I get this message every time I build `liquid-fixpoint`.

[2015-06-26 15:19] gridaphobe commented on #81
That file is generated by ocamlbuild IIRC, so it shouldn't be listed in
liquid-fixpoint.cabal.

On Fri, Jun 26, 2015, at 03:02, Michael Smith wrote:

[2015-06-26 17:08] #81 closed

[2015-07-06 23:46] bmcfluff commented on #75
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/cutsolver/tests/todo/overwrite-names2.fq

Renaming Set_emp makes it pass.

[2015-07-08 22:20] bmcfluff opened #83 "[cutsolver] Sets"
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/cutsolver/tests/weird/sets.fq (adapted from LH test MeasureSets.hs.fq)

It passes the Ocaml solver with or without the constant definition, but the haskell solver exhibits two distinct failure modes depending on whether you include the constant.

Related to Issue #75 ?

[2015-07-15 19:56] christetreault opened #84 "Unknown flag: -f"
While attempting to test my new parallel fixpoint, I kept getting this error: `Unknown flag: -f`

Assuming I broke something, I tried the master fixpoint, and get the same error. fixpoint from hackage works as advertised.

Output of `fixpoint --verbose` produced by the master fixpoint:

[code]

Output produced by fixpoint from hackage:

[code]

Calling `fixpoint` via `liquid` has this same behavio

[2015-07-15 20:06] nikivazou commented on #84
Just in case you are doing the same cabal mistake, can you take a look at this previous issue?

https://github.com/ucsd-progsys/liquidhaskell/issues/409

[2015-07-15 20:17] christetreault commented on #84
It seems that I was. Works correctly when running from .cabal_sandbox/bin

Thanks for the quick response!

[2015-07-15 20:17] #84 closed

[2015-07-22 18:41] bmcfluff opened #85 "[cutsolver] Deleting constraint causes UNSAT"
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/cutsolver/tests/todo/delete-13.fq

Native solver says SAT, but if you delete constraint 13 then it says UNSAT?

[2015-07-22 21:41] bmcfluff commented on #85
Fixed by dfd4eda1397cb26c3b22c071ad4d9e0d0d93ac64

[2015-07-22 21:41] #85 closed

[2015-07-28 22:14] christetreault opened #88 "partition' fails for various files with error: PARTITION: wfGroupNothing"
For the following liquidhaskell test suite files:

* pos/Holes.hs
* pos/absref-crash0.hs
* pos/alphaconvert-List.hs
* pos/LocalTermExpr.hs
* pos/LocalHole.hs

The call to `partition'` is throwing this exception:

[code]

This behavior can be reproduced using the latest build from the cores branch. These files will return Sat using the singlethreaded solver `liquid [file].hs` but will throw when ca

[2015-07-29 04:33] ranjitjhala commented on #88
thanks, I'll take a look at this tomorrow! (Are you blocked on this? If so,
feel free to switch to the book.)

On Tue, Jul 28, 2015 at 3:14 PM, Chris Tetreault <notifications@github.com>
wrote:

--
Ranjit.

[2015-07-29 19:57] christetreault commented on #88
I have stuff to work on, but that's always been my plan when I reach a roadblock.

BTW, is it normal that a bunch of test are failing, even in the master branch? I'm getting the following failures in the test suite:

[code]

[2015-07-29 20:13] ranjitjhala commented on #88
No all tests should be passing in master...

[2015-07-29 21:18] christetreault commented on #88
I just pulled liquidhaskell and liquid-fixpoint, ensured I had master checked out, and blew away and re-initialized my cabal sandboxes. I'm still getting these same failures.

Perhaps I should open a separate issue for this in liquidhaskell?

[2015-07-29 21:29] ranjitjhala commented on #88
Are you getting these *with* the concurrent fixpoint or without?

On Wed, Jul 29, 2015 at 2:18 PM, Chris Tetreault <notifications@github.com>
wrote:

--
Ranjit.

[2015-07-29 21:33] ranjitjhala commented on #88
Also, what happens when you do:

    $ liquid tests/pos/ite1.hs

?

[2015-07-29 21:52] ranjitjhala commented on #88
btw,

    $ liquid tests/pos/ite1.hs

passes fine with (master) on liquid-fixpoint AND (master) on LH.

(Btw, for this reason, it may be useful to have submodules...)

On Wed, Jul 29, 2015 at 2:28 PM, Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

--
Ranjit.

[2015-07-29 22:52] christetreault commented on #88
This is both with and without the concurrent fixpoint.

Using the master branch fixpoint:

[code]

...and the master branch liquid:

[code]

The result of `liquid tests/pos/ite1.hs`:

[code]

I've uploaded the `ite1.hs.fq` to my google drive: https://drive.google.com/open?id=0Bx6BpheCXcBWOWpIMVJCanEwZ28

Unfortunately, drive thinks it's a binary file so you'll have to download it and open it in an

[2015-07-29 23:05] ranjitjhala commented on #88
This is almost surely because you have a stale "fixpoint.native" file,
which unfortunately is made worse by the whole cabal-sandbox business.

Can you (either use stack) or,

1. do 'which fixpoint.native' to find and delete it from wherever it is now,

2. go back and rebuild?

But frankly, its probably a lot easier to just use "stack"  -- I have a set
of instructions here:

https://github.com/ucsd

[2015-07-30 00:08] christetreault commented on #88
I deleted `fixpoint.native` from `ref-fixpoint/.cabal-sandbox/bin` and `ref-liquid/.cabal-sandbox/bin` and then cleaned and rebuild both fixpoint and liquid. (which returns the one in `ref-fixpoint/.cabal-sandbox/bin`)

`fixpoint.native` rebuilt itself in `ref-fixpoint/.cabal-sandbox/bin` but not `ref-liquid/.cabal-sandbox/bin`. Still no change in behavior. I am able to run liquid on other files t

[2015-07-30 00:11] christetreault commented on #88
Just for kicks and giggles, I copied fixpoint and fixpoint.native into the same folder as the liquid exectubale, and deleted them from their previous location so that:

[code]

No change in behavior.

[2015-07-30 00:34] ranjitjhala commented on #88
No I am running ghc 710 and Travis tests with both

[2015-07-30 00:38] ranjitjhala commented on #88
The culprit is probably that fixpoint.native is NOT getting rebuilt after you clean.

Can you wipe the slate clean (pushe your commits to github) then just start afresh with NEW repos?

[2015-07-30 00:44] ranjitjhala commented on #88
Anyway if you can make progress with the OTHER LH benchmarks then do that and we can fix this when we meet next.

[2015-07-30 05:05] christetreault commented on #88
OK, I'll do that tomorrow and let you know how it goes

[2015-07-30 20:23] christetreault commented on #88
Today I blew away my local copies of the fixpoint and liquidhaskell repos so that `sudo find \ -name fixpoint*` returns no results.

I re-cloned and rebuild both, and tested `liquid tests/pos/ite1.hs`, however I am still seeing this same behavior.

I'm going to try it on my laptop next to see if it's some problem with my computer. I'll let you know how it goes.

[2015-07-30 21:35] christetreault commented on #88
I'm seeing the same issue on my laptop, so either I'm doing something wrong, or my specific configuration has issues.

I'm going to back burner this for now; there's plenty of other stuff I can be doing in the meantime.

[2015-07-30 21:37] gridaphobe commented on #88
@christetreault are you building liquid-fixpoint with `-fbuild-external`? Without that flag it will use the prebuilt binaries, which are usually only updated just-in-time for a release to hackage.

[2015-07-30 22:12] christetreault commented on #88
@gridaphobe I was not, and that was the issue. Thanks!

[2015-07-30 23:47] christetreault commented on #88
OK, so tests have been rerun on the `cores` branch. All tests pass using the single threaded implementation. All tests except the 5 listed in the issue heading pass using the parallel implementation.

[2015-07-31 23:05] christetreault opened #90 "Implement parallel FInfo solver"
Given that we have functions to partition an `FInfo` into a list of `FInfo`s, it makes sense to implement a parallel version of `solveExt`; `solvePar`.

Work will be done in the branch: https://github.com/ucsd-progsys/liquid-fixpoint/tree/cores
any related functionality in liquidhaskell will be done in: https://github.com/ucsd-progsys/liquidhaskell/tree/cores

**NOTE:** I'm opening this issue to h

[2015-07-31 23:40] christetreault commented on #90
Today, I did some informal testing. I ran all the files in the liquidhaskell test suite through `time`, both in serial and parallel. Results that I found _noteworthy_ can be found at: https://drive.google.com/file/d/0Bx6BpheCXcBWR3dnVS1BYk9uQzg/view?usp=sharing

Some particularly interesting results:

[code]

These red black tree files all generated 200+ FInfos, with col-height generating 404. For

[2015-08-01 00:53] gridaphobe commented on #90
Hmm, since pretty much everything happens in OCaml, if you split the constraints into `n` disjoint sets and try to solve them in parallel, you'll end up with `n` instances of OCaml vying for CPU and memory resources. Note that this totally defeats the benefits of the lightweight threads that `forkFinally` creates.

Instead of trying to divide the constraints into a smaller number of sets containin

[2015-08-01 19:32] christetreault commented on #90
As it stands, there will only be `X` instances of fixpoint.native running, where `X` is the number passed to the `--cores` option. However, we're still firing up hundreds of separate processes and eating the associated overhead, just not at the same time.

Does fixpoint.native have an interactive mode where it listens on stdin for input, and produces output as it gets it? We could fire up `X` inst

[2015-08-02 04:25] ranjitjhala commented on #90
Unfortunately no such mode BUT how about we do this:

1 Associate a weight for each partition eg the number of constraints or kvars ( something easy to compute)

2 modify partition to merge tiny partitions so that each partition is suitably large.

Eg suppose we have 10 raw partitions of sizes

6, 3, 1, 1, 1, 1, 1

We can glue them into

6, 4, 4

Or some such. Ie given a target size keep greedily

[2015-08-02 22:10] christetreault commented on #90
Sounds good. I'll start working on that tomorrow. I'll make a `partitionN :: Int -> F.FInfo a -> [F.FInfo a]` in `Partition.hs` that produces N or less partitions based on number of nodes.

This should also allow me to simplify `inParallelUsing`, which would be good.

[2015-08-03 21:39] christetreault opened #91 "mappend on non-trivial BindEnvs"
While attempting to implement `partitionN` using the `Monoid` instance of `FInfo`, I recieved the following error.

[code]

This is caused by the `Monoid` instance for `BindEnv`. From https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/src/Language/Fixpoint/Types.hs#L1472

[code]

It seems that `BindEnv` just contains a hash map. Since `HashMap` has a `Monoid` instance, why not define mapp

[2015-08-03 22:50] christetreault opened #92 "FInfo monoid instance broken for fileName field"
When `mappend`ing two `FInfo` objects, `mappend` is called for all fields, inclusing `fileName`. This will end up producing a filename such as the following:

[code]

Clearly this is Not What We Want.

Since these filePaths are arbitrary, I propose we always accept the left hand side, so `mappend` will look like this:

[code]

If management concurs, I'll go ahead and implement this.

[2015-08-04 00:22] ranjitjhala commented on #91
That should work but use 'max s t' instead of 's + t'

[2015-08-04 00:26] ranjitjhala commented on #92
Yes please implement this.

[2015-08-04 18:17] christetreault commented on #88
should `partition'` ever return the empty list?

[2015-08-04 21:53] christetreault commented on #91
I've tried both ways:

[code]

...and the suggested implementation:

[code]

and neither works. For both, I get the following test failures:

[code]

If I'm understanding the code correctly, it seems that `partition'` carries the original `BindEnv` forward into each partition. Following this train of thought, I tried the following implementation that just accepts the "larger" `BindEnv`:

[code]

H

[2015-08-05 00:33] ranjitjhala commented on #88
No (unless he input is empty ie has no constraints)

[2015-08-05 00:40] ranjitjhala commented on #91
Hmm. Can you commit your changes to "cores" and push and I will take a look?

[2015-08-05 01:59] ranjitjhala commented on #91
Better idea: we should NOT have a monoid instance for FInfo (as there are
likely subtle invariants that are being broken).

Instead can you

1. modify Language.Fixpoint.Partition.partition' so that it takes an
   extra `Maybe Int` parameter denoting the number of desired
   partitions (Just n) means make 'n' roughly equal sized partitions,
   and Nothing means just use the old method (no re-groupi

[2015-08-05 15:25] christetreault commented on #88
In that case, shouldn't it just return a singleton list with the same empty FInfo?

[2015-08-05 15:28] christetreault commented on #91
Seems reasonable. I'll give it a shot today.

[2015-08-05 15:29] ranjitjhala commented on #88
Yes you are right.

Which test does this happen on?

[2015-08-05 15:37] christetreault commented on #88
Let me rerun the tests to get you a list.

[2015-08-05 17:40] christetreault opened #93 "partition' returns empty list for various files"
For various files, `partition'` is returning `[]`. Due to this, I am seeing the following test failures when using the multithreaded solver:

[code]

Additionally, it is very likely that this is happening for negative tests as well, seeing false `ExitFailure 1` that is caused by this issue, rather than the actual issue being tested for.

[2015-08-05 17:42] christetreault commented on #88
I've opened a new issue (#93) for this empty list situation. It seems that this issue is much more pervasive than I initially thought.

[2015-08-05 17:50] christetreault commented on #93
Some additional background:

At first, I didn't check for this case. I assumed that the system would consider `mempty` as a failure, and was just returning the result. However if you `mconcat []` you get `mempty`, and the system considers this to be Sat.

This only fails 1 of the regression tests so I added this check to `solvePar`

[code]

which would use the serial solver in this case. However,

[2015-08-06 02:37] ranjitjhala commented on #93
Interesting. Will take a look at this ASAP. In the meantime I'm guessing
you can make progress on the other benchmarks?

On Wed, Aug 5, 2015 at 11:20 PM, Chris Tetreault <notifications@github.com>
wrote:

--
Ranjit.

[2015-08-06 19:03] christetreault commented on #93
Yes, and if I run out of stuff to do there is always the book.

[2015-08-08 04:57] ranjitjhala commented on #93
I just pushed a fix for this issue (to the cores branch). Can you take a
look?

(We were getting empty lists when the input FInfo had ZERO constraints...)

Interestingly, like many others, a bug that would have been caught if we
were using LH on itself :)

On Fri, Aug 7, 2015 at 12:33 AM, Chris Tetreault <notifications@github.com>
wrote:

--
Ranjit.

[2015-08-10 17:22] christetreault commented on #93
I'm seeing no change in behavior. Is this the fix?

https://github.com/ucsd-progsys/liquid-fixpoint/commit/d7d72442e4999c3698c2a4b6dca21678e36cfe4c

[2015-08-10 20:15] christetreault commented on #91
I've made the changes, things are looking good. I'm reluctant to call this one solved until I can make the updates from issue #93 work for me. That said, I'll continue benchmarking this to see if anything has improved.

[2015-08-10 21:14] christetreault commented on #90
So, as a quick update. After implementing the changes from https://github.com/ucsd-progsys/liquid-fixpoint/commit/2077da32221cd43e02c133f94dd0c3c3dd3d6fa8 we're seeing much better performance from the RBTree-*.hs tests. Parallel implementations are in line with the serial implementations, but not significantly faster.

[code]

[code]

[code]

[code]

[code]

[code]

Unfortunately, the StateConstra

[2015-08-11 01:36] ranjitjhala commented on #90
Is this the case for all benchmarks? (Are there any benchmarks where the
parallel stuff is helping?)

On Tue, Aug 11, 2015 at 2:44 AM, Chris Tetreault <notifications@github.com>
wrote:

--
Ranjit.

[2015-08-11 08:07] ranjitjhala commented on #93
Sorry, looks like I forgot to push. (But now I did.)

This is the fix, can you see if it works?

https://github.com/ucsd-progsys/liquid-fixpoint/blob/cores/src/Language/Fixpoint/Partition.hs#L53

Also, how are you running the tests?

[2015-08-11 18:30] christetreault commented on #90
I haven't run a full test yet. I plan to work on that today, and I'll let you know before the end of the day.

[2015-08-11 19:22] christetreault commented on #93
I've been using `make test`, however when I do I get this error when the test goes to actually run:

[code]

I strongly suspect that this is because of my slightly wonky cabal setup, so I haven't reported it as a bug. As a workaround, I do this:

[code]

for testing the single-threaded implementation or:

[code]

for multithreaded. I kind of like it this way because it makes it easy to tweak the a

[2015-08-11 19:25] christetreault commented on #93
...and still no dice. I am getting this trace output though:

`Trace: [flattened] : []`

[2015-08-11 19:29] christetreault commented on #93
I just verified that all files that were previously failing are still failing

[2015-08-11 20:06] christetreault commented on #93
It looks like your fix works if you don't specify a number of partitions. I'll go ahead and see if I can't apply your fix to `partitonByConstraints'`

[2015-08-11 23:25] christetreault commented on #93
OK I've updated partition' to apply the fix to both the Nothing case and the Just n case. I've also cleaned up the code a bit, and deleted a bunch of superfluous stuff.

I re-ran the tests, and now the only failing tests are the five from issue #88.

At this point, I believe that this issue can be closed.

[2015-08-11 23:25] #93 closed

[2015-08-11 23:28] #92 closed

[2015-08-11 23:30] christetreault commented on #91
With issue #93 closed, all tests pass except the ones from issue  #88. I believe that this issue can be closed.

[2015-08-11 23:30] #91 closed

[2015-08-12 16:12] christetreault commented on #90
I finally got a chance to re-run the tests this morning. When testing using the parallel and serial solver, all times are within a small margin of each other. I'm sure this is because of a problem with my parallelization code; I'll take a look at it and see if I can't figure out the problem.

[2015-08-13 09:18] ranjitjhala commented on #88
Is this issue still open? or fixed by the above?

[2015-08-13 09:29] ranjitjhala opened #98 "Type Variables and Sort Checking"
@nikivazou  see tests/todo/RG.hs.fq which is a shortened form of the .fq file obtained from:

[code]

The enhancements to the polymorphic inference introduced
in commit: 9608cb6e4dd33bf142b50db4630c629defceb91e
named "another hack to fix sortchecking: refreshing type variables"
allow **unification** of the sort-variable for `a` with `bool` (or `prop`).

This is a bug, because well, the `a` is "rig

[2015-08-13 15:27] christetreault commented on #88
This issue is still open

[2015-08-14 17:17] christetreault commented on #90
Per @ranjitjhala's suggestion that I profile directly using fixpoint, I have attempted to do so. Unfortunately, It seems that the parallel implementation no longer works directly via fixpoint.

Given the following input:

[code]

A [massive error](https://gist.github.com/christetreault/b0c480b8efb70ae0e3fd#file-gistfile1-txt) is returned. Using the serial implementation works as advertised, as doe

[2015-08-14 17:48] gridaphobe commented on #90
Well, the important piece of the error is

[code]

which says there's something bogus about `len([VV#9652]) >= 0`, and indeed, the given type for `len` makes no sense to me.

[code]

fixpoint has a quirky syntax for types ("sorts" in fixpoint parlance), here's how to read it:

- `func(...)` is a function
- `func(2, ...)` is a function with two quantified type variables (I believe)
- `[FAppTy (FApp

[2015-08-14 18:09] christetreault commented on #90
Is it possible that the .fq file is being parsed differently, and as a result, is being partitioned incorrectly?

I noticed that the function that initially produces an `FInfo` in fixpoint has a different type than the one in liquid:

[`Language.Fixpoint.Parse.rr' :: rr' :: Inputable a => String -> String -> FInfo ()`](https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/src/Language/Fixpoi

[2015-08-14 18:30] gridaphobe commented on #90
It's possible since the haskell parser for .fq files is not really used much (apart from the experimental native solver). But still, it seems unlikely to me..

You said that the haskell fixpoint binary works correctly until you add the `--cores` flag, right? That suggests to me that the `partition` function is at fault. A good test would be to partition the `FInfo` and just dump the individual .fq

[2015-08-14 18:31] christetreault commented on #90
Sounds like a plan. I'll give that a shot, thanks!

[2015-08-14 18:54] christetreault commented on #90
When liquid partitions the .fq file, all partition files work. When fixpoint partitions the .fq file, we get this error.

Diffing all parition files together shows that they are not the same.

I suppose the next question is: what could make parition produce different outputs?

[2015-08-14 19:02] gridaphobe commented on #90
`partition'` is a pure function, so if the resulting `FInfo`s from liquid-partition and fixpoint-partition are different, the input `FInfo` must be different as well. Perhaps the parser **is** to blame then, liquid certainly doesn't use it.

[2015-08-14 19:23] christetreault commented on #90
I just checked, and the changes to partition' from issue #91 don't seem to be the cause of this.

[2015-08-15 05:27] ranjitjhala commented on #90
Folks the error is undoubtedly because the fixpoint parser is producing the wrong result (that parser is NOT used when run via liquid and hence there are no problems there.)

Chris: can you send me a link to the SMALLEST file that causes the problem, both the haskell source and the generated fq?

(I'm hoping this is already fixed in the cut solver branch and just a matter of pulling from there...)

[2015-08-17 18:21] christetreault commented on #90
I've found: [test/pos/vecloop.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/pos/vecloop.hs) : [vecloop.hs.fq](https://gist.github.com/christetreault/ecec434d6e277e4d6e7f)

I'll see if I can find a simpler one.

[2015-08-17 18:39] christetreault commented on #90
The smallest positive test source file that has this issue: [lit.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/pos/lit.hs) : [lit.hs.fq](https://gist.github.com/christetreault/3d1add504c66a77db2e1)

[2015-08-17 18:42] christetreault commented on #90
By the way: I have some experience with Parsec. If somebody would be willing to explain to me the syntax rules of the .fq file, I would be willing to attempt to fix the parser.

[2015-08-17 21:49] bmcfluff opened #100 "[cutsolver] String Literal"
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/cutsolver/tests/todo/string-lit.fq

It fails with -n

[2015-08-19 21:14] christetreault commented on #90
Finally some good news; it occurred to me that I may not be seeing any improvements in runtime with the parallel solver because I wasn't doing any work that was worth parallelizing. Sure the graphs being solved might be big, but if they can't be meaningfully split into multiple chunks there no point in bothering with a multithreaded implementation.

With that in mind, I combined a few of the large

[2015-08-20 23:49] christetreault commented on #88
I've spent the last few hours investigating this issue. It seems that for all these files, the function `wfKvars :: F.WfC a -> [F.KVar]` is being passed a `WfC a` that doesn't contain a `KVar`. Rather they all have some other `Pred` constructor as the result of `F.sr_reft`:

   * pos/Holes.hs:
[code]
   * pos/absref-crash0.hs:
[code]
   * pos/alphaconvert-List.hs:
[code]
   * pos/LocalTermExpr.hs:

[2015-08-21 03:50] ranjitjhala commented on #88
Yes! (Your assumption is correct -- am surprised this was not done before...) thanks!

[2015-08-21 17:26] christetreault commented on #88
OK, so based on @ranjitjhala's confirmation of my suspicions, I've pushed a change to cores that I believe fixes this issue:

[`wfGroup`](https://github.com/ucsd-progsys/liquid-fixpoint/blob/cores/src/Language/Fixpoint/Partition.hs#L176-L178) Now returns a `Maybe Int`, rather than throwing an exception.

[`maybeInserts`](https://github.com/ucsd-progsys/liquid-fixpoint/blob/cores/src/Language/Fixpo

[2015-08-21 17:53] christetreault opened #101 "Fixpoint parser produces a different result than liquid"
The `FInfo` that `fixpoint` produces when reading in a `.fq` file is not the same as the `FInfo` that `liquid` produces when reading in a `.hs` file. This is causing issues for many files in the `liquid` test suite.

Given the following input:

[code]

A [massive error](https://gist.github.com/christetreault/b0c480b8efb70ae0e3fd#file-gistfile1-txt) is returned.

Much discussion of this issue has h

[2015-08-21 17:54] christetreault commented on #90
I've opened issue #101 for the parser issue, as it is not actually a problem with the parallel solver.

[2015-08-21 18:12] christetreault commented on #90
@ranjitjhala, @gridaphobe, @nikivazou:

Where we stand on this issue:

I have completed implementation of all the machinery required for `solvePar`. I've added two command line switches to `liquid` and `fixpoint`:

`--cores=n`: The number of cores to use.
`--minpartsize=n`: The minimum "size" that is considered worth parallelizing.

The size argument defaults to 1, which will prevent empty `FInfo`

[2015-08-21 18:34] gridaphobe commented on #90
Thanks for the summary!

What partition size did you use with `omnitest.hs`? Is it the 500 number you mentioned above? We have a bunch of larger files in `benchmarks/` that would probably be worth testing the parallel solver on too (in particular, `Data.Text` and `Data.ByteString` both take upwards of 3 minutes to check).

Also, IIUC the default minimum size of 1 will show a performance **loss** b

[2015-08-21 19:05] christetreault commented on #90
500 is where I'm seeing performance gains; I agree that 1 is bad in all circumstances. However, the [liquid `Config` `Monoid` instance](https://github.com/ucsd-progsys/liquidhaskell/blob/cores/src/Language/Haskell/Liquid/CmdLine.hs#L358) takes the larger of the two values, so if we set the default to 500, it's not possible to set it below that value. Ordinarly, not an issue except that the test su

[2015-08-21 19:25] christetreault commented on #90
[code]
...
[code]
---
[code]
...
[code]

I'm unable to run the bytestring test. It tells me:

[code]

I'm guessing this is cabal's fault.

[2015-08-21 19:53] ranjitjhala commented on #90
What's the single core time for these benchmarks?

[2015-08-21 19:57] christetreault commented on #90
single core omnitest.hs:
[code]
single core Text.hs:
[code]

Both are seeing a ~30 second improvement when going multithreaded

[2015-08-21 22:33] ranjitjhala commented on #88
Looks good! Thanks @ctetreau.

On Fri, Aug 21, 2015 at 10:26 AM, Chris Tetreault <notifications@github.com>
wrote:

--
Ranjit.

[2015-08-21 22:34] #88 closed

[2015-08-21 22:41] gridaphobe commented on #90
1. I'm not convinced that's the right behavior for the monoid instance, it might make more sense for `mappend` to choose the right `minPartSize`. Or even better, we should just drop the monoid instance altogether. AFAIK we only use it to merge configuration options from different sources (e.g. command-line, environment, pragmas in the file). But it's incorrect to think of any of these sources as d

[2015-08-21 22:58] ranjitjhala commented on #90
@gridaphobe:  did you mean "imply" ====> "simply" ?

On Fri, Aug 21, 2015 at 3:41 PM, Eric Seidel <notifications@github.com>
wrote:

--
Ranjit.

[2015-08-21 23:07] christetreault commented on #90
@gridaphobe:

1) I think that command line arguments passed to liquid should override ones stored in the environment. I was very confused when it didn't, I thought fixpoint didn't build the first time I encountered the issue.

2) Everything is sandboxed. I could try `cabal exec bash`, which seems to help when I run into these sorts of issues.

3) I became convinced that `getNumCapabilities` was GH

[2015-08-21 23:24] christetreault commented on #90
OK, `cabal exec bash` seems to have fixed the benchmark issue.

Singlethreaded Data/Bytesring.hs:
[code]
Multithreaded Data/Bytestring.hs:
[code]

[2015-08-21 23:27] gridaphobe commented on #90
I do mean 'imply', ie we'd take the argument of `--cores` and pass it to `setNumCapabilities`. I think this would be a slightly nicer UI than using `getNumCapabilities`. They're probably both GHC-only, but that's not a problem, we depend heavily on GHC itself.

(I think the standard priority for overriding configs is env < file < cmdline.)

[2015-08-21 23:30] gridaphobe commented on #90
Wow! That's quite impressive re ByteString :)

[2015-08-21 23:31] christetreault commented on #90
Should be simple to implement. Plus, presumably if some compiler doesn't support it, it'll be a (hopefully) noop and they can still pass RTS options.

Do we care if the user specifies some number greater than the available cores? I don't see any functions to check the number of cores.

[2015-08-21 23:32] ranjitjhala commented on #90
Yes, that is pretty cool! Nice! (But I do wonder why we aren't getting
nearer 4x speedups, I think it points to other bottlenecks that should be
found and fixed.)

On Fri, Aug 21, 2015 at 4:30 PM, Eric Seidel <notifications@github.com>
wrote:

--
Ranjit.

[2015-08-21 23:32] christetreault commented on #90
Just watching the program go, it seems to do a lot of work before and after calling solve.

[2015-08-21 23:35] ranjitjhala commented on #90
Yes, there was a time when that time (before and after) was dwarfed by
'solve' but,
now i think since we've squeezed a lot of the air out of solve, the
bottlenecks are
in the pre- and post- phases.
​

[2015-08-21 23:43] christetreault commented on #90
I just pushed a change that uses `setNumCapabilities`. It seems to be working fine.

[2015-08-22 00:46] ranjitjhala commented on #90
I don't think we need worry about this...

[2015-08-26 14:22] ranjitjhala commented on #83
Notes to self @ranjitjhala:

In ocaml, dig around for `SMT.mkEmptySet`.

Note that

1. `set_emp(v)` ===> `v = smt_set_emp`
2. `set_empty` ===> `smt_set_emp`

In haskell, we only do (1) and **not** (2).

[2015-08-26 15:02] ranjitjhala commented on #83
Commit fdf9461cd9 fixes this. However, it *does not* fix #75 -- but even fixpoint.native crashes with that. Can you confirm which .hs file that comes from?

[2015-08-26 15:07] ranjitjhala commented on #75
This test ALSO passes if we replace `FAppTy Set_set X` with `Set_set X`. Wonder why.

[2015-08-26 16:28] bmcfluff commented on #100
Fixed by b82dd309b6f021c1b1fbc46c7da34429b2453699

[2015-08-26 16:28] #100 closed

[2015-08-26 17:59] ranjitjhala commented on #75
@bmcfluff -- what is the original haskell source that generates this .fq file? Can you re-run it? The .fq file **should not** have `FAppTy Set X` it should just have have `Set X`.

[2015-08-26 21:12] christetreault commented on #90
Given that the cores branches are merged, I'm going to close this issue.

[2015-08-26 21:12] #90 closed

[2015-08-26 23:02] #83 closed

[2015-08-26 23:04] ranjitjhala commented on #75
1. **NEVER EVER** print out `FAppTy` (however it **is** used internally to denote type application),
2. Port the ocaml `app_of_t` so that it eliminates the `FAppTy` BEFORE converting to Z3,
3. Hide all "set" related stuff inside `Theories.hs` (it should **not** appear in `Serialize.hs`)
4. **LATER** Fix OCAML parser to account for (@(0) @(1)) (type variable application, because now, these are NOT

[2015-08-27 22:07] ranjitjhala commented on #75
This should be addressed by PR #103

Strangely, all LH tests are passing (hopefully no strange caching taking place!) so I didn't (yet) have to do step 4 above.

[2015-08-27 22:08] ranjitjhala commented on #75
@bmcfluff can you check the above (and the original `overwrite.hs` and confirm before we close this?) Thanks!

[2015-08-27 22:35] christetreault opened #104 "Need --maxpartsize flag in fixpoint and liquid"
Suppose we set minpartsize=500 for some file. We then partition that file into 4 partitions, and we get the following sizes: 499, 500, 500, 500

At this point, `partitionN` will combine the two smallest partition into: 999, 500, 500, and the end result is we've turned 4 perfectly balanced partitions into 2 balanced, and one very unbalanced partitions.

We should add a `maxpartsize` flag such that

[2015-08-28 00:50] bmcfluff commented on #75
I get a type error in LiquidHaskell:

[35 of 76] Compiling Language.Haskell.Liquid.RefType ( src/Language/Haskell/Liquid/RefType.hs, dist/dist-sandbox-5e5f3bbb/build/Language/Haskell/Liquid/RefType.o ) [Language.Fixpoint.Misc changed]

src/Language/Haskell/Liquid/RefType.hs:977:11:
    Couldn't match expected type ‘Sort’
                with actual type ‘Either FTycon b0’
    In the first argument

[2015-08-28 01:20] #75 closed

[2015-08-30 04:01] ranjitjhala commented on #101
@christetreault can you let me know if this issue still remains on the new `master` branch. (I did a bunch of changes to the parser/serializer that *should* have addressed this.)

[2015-08-31 16:31] christetreault commented on #101
@ranjitjhala

The follwing tests pass for me on the current fixpoint/liquid masters:

neg/pred.hs
neg/sumk.hs
crash/*
error/crash/*

All other tests fail with ExitCode 2, and I'm getting parser errors when running liquid manually

[2015-08-31 18:05] christetreault opened #106 ""You probably have a stale fixpoint.native""
The scenario: some new feature lands, and you want to try it out. Oh No! Calamity! Nothing works, it's all burning to the ground!

Hours later, it turns out that `fixpoint.native` decided not to rebuild itself, despite the fact that you recreated your sandbox and did a `cabal clean`.

Ideally, `fixpoint.native` would rebuilt itself when needed. However, if `cabal clean` would execute `cd external/

[2015-08-31 18:16] ranjitjhala commented on #106
Thanks for adding this! We've been seeing a LOT of this. Oddly @gridaphobe did a bunch of work to fix this, I suspect it's a matter of making "build external" to default to TRUE when building in DEV mode as opposed to for a USER that is installing from cabal?

[2015-08-31 18:26] gridaphobe commented on #106
Hooking into `cabal clean` would indeed be great. But it would be even better if someone could figure out why the ocaml build system decides not to rebuild fixpoint. We **always** call `make` in external/fixpoint as part of `cabal build`.

[2015-08-31 18:33] christetreault commented on #101
Still no luck, now I get this:

[code]

At least the error is more useful!

[2015-08-31 21:56] bmcfluff commented on #101
I think the problem is with type variable application (i.e. "@(0) @(1)") - see https://github.com/ucsd-progsys/liquid-fixpoint/issues/75#issuecomment-135568522 - I think that "step 4" does need to be implemented in the Haskell parser.

An example very small fq file that fails: https://github.com/ucsd-progsys/liquid-fixpoint/blob/8b3e1cbea6b089eea35d57505d7b89033c41b6c4/tests/todo/tvar-application.

[2015-08-31 22:36] ranjitjhala commented on #101
Friends, please regenerate the .fq files from the .hs source because the format has changed a bit.

[2015-08-31 22:39] bmcfluff commented on #101
I did regenerate from source earlier today, i.e. more recently than any commit to either master branch. I pushed the regenerated files to fixpoint master - do they look correct?

[2015-08-31 22:47] bmcfluff opened #108 "Should we clean up old branches?"
There are 17 of them. At the very least, should we remove some of the following branches that have been fully merged into master?

bitvector
cores
list_parsing
smt-refactor
sorts
stats
tmp_fix1

(same goes even more so for liquidhaskell - 29 branches, with fully merged:

cores
cutsolver
ghc-7.10
non_applied_tycons
paths
pprinting
sorts
test-liquid-opts
tiny-travis-fix
travis_retry
type-class

)

[2015-08-31 23:01] christetreault commented on #101
I did as well, no change in behavior.

[2015-08-31 23:02] christetreault commented on #108
I can delete the cores branches. I was holding onto them "in case I need them", but I suppose that's just silly...

[2015-08-31 23:12] christetreault commented on #104
If accepted, liquid haskell pull request [#440](https://github.com/ucsd-progsys/liquidhaskell/pull/440) and fixpoint pull request #107 should close this issue.

[2015-09-01 04:55] ranjitjhala commented on #101
Thanks guys -- I'll fix this now.

[2015-09-01 05:50] ranjitjhala commented on #106
Yes, the Ocaml build system is rather vexing... Will have to fix it.

[2015-09-01 05:50] ranjitjhala commented on #108
I have the same fear but best to delete after merging with master :)

[2015-09-01 05:54] gridaphobe commented on #108
If a branch has been fully merged and you're done with it, you might as well delete it. No information will be lost..

[2015-09-02 20:27] bmcfluff opened #110 "Parse error"
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/tests/todo/parse-tyfam0.fq

Haskell fixpoint cannot parse it

[2015-09-02 20:45] bmcfluff opened #111 "Unbound constant"
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/external/fixpoint/tests/liquidhaskell_tests/pos/vecloop.hs.fq#L86

"rng" appears in a couple qualifiers but is otherwise unbound, leading (Haskell) Fixpoint to complain of an unknown constant. Is this a problem with fixpoint, or with liquidhaskell for generating such an fq file?

[2015-09-02 20:49] bmcfluff opened #112 "Function equality"
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/external/fixpoint/tests/liquidhaskell_tests/pos/vector2.hs.fq#L723

z3 will not handle such refinements. Do we need to find a way to remove them, or does liquidhaskell need to find a way to stop generating them?

[2015-09-02 20:50] bmcfluff commented on #112
Oh right, this is already logged as an LH bug

[2015-09-02 21:11] ranjitjhala commented on #110
on it.

[2015-09-02 21:27] bmcfluff opened #113 "String literal equality test"
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/tests/todo/literals.fq

Ocaml says safe; Haskell says unsafe.

[2015-09-02 22:08] bmcfluff opened #114 "Floats"
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/tests/todo/float.fq

Ocaml says safe; Haskell says unsafe.

[2015-09-03 03:24] ranjitjhala commented on #108
Yes (delete them) thanks!

[2015-09-03 04:06] bmcfluff commented on #108
Done

[2015-09-03 04:06] #108 closed

[2015-09-03 04:29] ranjitjhala commented on #110
should be fixed by b99601a32696b9393dcddf9e3d39c5b317f0dc5d

[2015-09-03 04:29] #110 closed

[2015-09-03 04:31] ranjitjhala commented on #111
fixed this by fixing the sort-checking during instantiation, but it reveals a NEW bug, which is lack of support for `num`  -- see `tests/pos/num00.fq` in the new `num` branch.

[2015-09-03 12:59] ranjitjhala commented on #112
@bmcfluff -- which LH bug is this? I also see this in:

`external/fixpoint/tests/liquidhaskell_tests/pos/vecloop.hs.fq`

so am reopening for now.

@nikivazou why do we generate refinements over function symbols?
Or is this just some unfortunate artifact of substitution? Or singletons `{v = x}` ?

[2015-09-03 16:00] gridaphobe commented on #112
https://github.com/ucsd-progsys/liquidhaskell/issues/384 looks relevant

[2015-09-03 16:05] ranjitjhala commented on #112
@bmcfluff can you check this is indeed fixed by PR https://github.com/ucsd-progsys/liquid-fixpoint/pull/115

[2015-09-03 16:06] ranjitjhala commented on #111
should be fixed by: https://github.com/ucsd-progsys/liquid-fixpoint/pull/115

@bmcfluff can you confirm?

[2015-09-03 16:07] ranjitjhala commented on #101
@christetreault I fixed the parser (I think) can you let me know if this is still an issue? else we can close. Thanks!

[2015-09-03 16:10] ranjitjhala commented on #104
looks like those PRs are merged, so is this closed?

[2015-09-03 16:45] ranjitjhala commented on #111
while `rng` is fishy -- and almost surely a sign of some badness in LH (@nikivazou can you explain it?) -- it is *not* a malformed input. In short, this is a problem with *fixpoint* because only well-sorted qualifiers should be instantiated and so I am puzzled as to how this fellow gets instantiated. [at any rate, fixed]

[2015-09-03 16:45] #111 closed

[2015-09-03 17:34] bmcfluff commented on #112
This is LH bug https://github.com/ucsd-progsys/liquidhaskell/issues/432

Checking PR #115 now...

[2015-09-03 17:38] ranjitjhala commented on #114
Should be fixed by 4cb83f46e340c617be10bcb2a6e0244058207732.

@bmcfluff can you confirm and close?

[2015-09-03 17:39] ranjitjhala commented on #114
I'm linking to the nearest commit but the stuff is in master already...

[2015-09-03 17:40] ranjitjhala commented on #106
@gridaphobe how do you know that "the ocaml build system decides not to rebuild fixpoint" ? i.e. can you give some steps to reproduce? (The other option is to just NUKE the ocaml build system and use something more modern, assuming it exists?)

[2015-09-03 17:46] bmcfluff commented on #112
vector2.hs.fq now fails with a bunch of nested errors like "Multiple sorts for Data.Maybe.Nothing#r19 : [func(1, [(Data.Maybe.Maybe  @(0))]), function] "

[2015-09-03 17:48] bmcfluff commented on #114
Confirmed

[2015-09-03 17:48] #114 closed

[2015-09-03 17:56] gridaphobe commented on #106
I can't consistently reproduce the issue, but I know it has to be ocaml-related because `cabal build` unconditionally invokes `cd external/fixpoint && make`.

[2015-09-03 18:05] bmcfluff commented on #112
Here's a small example: https://github.com/ucsd-progsys/liquid-fixpoint/blob/02a9b46aa87bb0781489c74804fef6e9d94d839f/tests/todo/multiple-func-sorts.fq

Is this something that Uniqify needs to address - binds and constants with the same name?

[2015-09-03 18:08] ranjitjhala commented on #113
Fixed by above PR.

[2015-09-03 18:08] #113 closed

[2015-09-03 18:09] ranjitjhala commented on #52
Folks, what is the status of this?

[2015-09-03 18:14] bmcfluff commented on #113
Can't we have two constants of the same sort that might *not* be distinct?

[2015-09-03 18:15] ranjitjhala commented on #112
1. Can you point to a concrete LH fq file in which the above happens?
2. Is the sort given in the `constant` the same as that given in the `bind` -- if so, its fine, we can just not panic and move on. If the sorts are DIFFERENT that is definitely a hassle that needs to be dealt with in `uniqify`.

[2015-09-03 18:16] ranjitjhala commented on #113
well, the semantics of `constant` is that they are distinct (thats how they
are different from mere `bind`).
​

[2015-09-03 18:18] bmcfluff commented on #112
1. https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/external/fixpoint/tests/liquidhaskell_tests/pos/vector2.hs.fq lines 239 and 264

2. the sort is the same

[2015-09-03 18:20] ranjitjhala commented on #112
ok, thats not problem -- I'll deal with it.

[2015-09-03 18:59] christetreault commented on #101
On it.

[2015-09-03 19:05] #104 closed

[2015-09-03 19:06] christetreault commented on #106
Perhaps, as a stopgap until we have a good fix, we can have cabal build unconditionally invoke `cd external/fixpoint && make clean && make`?

[2015-09-03 19:09] christetreault commented on #101
@ranjitjhala: It works for the original file `RBTree-col-height.hs.fq` and the smallest broken file I identified `lit.hs`.

I vote this issue be closed.

[2015-09-03 19:11] ranjitjhala commented on #106
I think that doesn't work because then you HAVE to have ocaml i.e. breaks
the "simple" `cabal install` case?

On Thu, Sep 3, 2015 at 12:06 PM, Chris Tetreault <notifications@github.com>
wrote:

--
Ranjit.

[2015-09-03 19:11] ranjitjhala commented on #101
sounds good. thanks!

On Thu, Sep 3, 2015 at 12:09 PM, Chris Tetreault <notifications@github.com>
wrote:

--
Ranjit.

[2015-09-03 19:17] christetreault commented on #106
...but isn't this already the case? Looking at the makefile, the default target is [all](https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/external/fixpoint/Makefile#L49-L54) which seems to require ocamlbuild already.

If we're really supporting the no ocaml case, then perhaps whatever mechanism is responsible for this is the culprit and not ocamlbuild?

[2015-09-03 20:16] bmcfluff commented on #112
Newest function-related error: https://github.com/ucsd-progsys/liquid-fixpoint/blob/d8f67b311de8b8815cdd0953624f3c54a61e4813/tests/todo/wrong-arity.fq

[2015-09-03 20:30] ranjitjhala commented on #112
Definitely an LH bug @nikivazou

[2015-09-03 20:39] ranjitjhala commented on #112
what are "foo" and "z" in the original vector2.hs.fq ?

​

[2015-09-03 20:43] bmcfluff commented on #112
foo: fix#GHC.Types.#58##35#64
z: lq_anf__d2P1

[2015-09-03 20:46] ranjitjhala commented on #112
well, the odd thing is that the original source ALSO has a:

constant fix#GHC.Types.#58##35#64 : (func(1, [@(0);
                                              [@(0)];
                                              [@(0)]]))

and if you add that back to your wrong-arity.fq then things seem to be
fine...

hmm.

​

[2015-09-03 20:49] bmcfluff commented on #112
I did simplify the types involved, but the error is the same. It was remarkably fickle - seemingly irrelevant changes often made it disappear/reemerge. Whatever else it may be though, it's definitely also an LQ bug - fixpoint and fixpoint -n should not give different answers.

[2015-09-03 20:59] ranjitjhala commented on #112
I think this has to do with uniqify. Note that the smt file contains BOTH
declarations:

(declare-fun lq_rnm_fixzhGHC.Types.zh58zhzh35zh64_72 () Int)

as well as:

(declare-fun fixzhGHC.Types.zh58zhzh35zh64 (Int Int) Int)

in general, why is this lq_rnm business being created? Thats whats causing
the problem.

On Thu, Sep 3, 2015 at 1:46 PM, Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

--
Ranjit.

[2015-09-03 21:01] ranjitjhala commented on #112
to be precise: why is THIS particular symbol -- which is in fact a CONSTANT
and should not be renamed, being renamed?
​

[2015-09-03 21:07] gridaphobe commented on #106
By "unconditional" I meant it will always run `make` **if** you pass `-fbuild-external`, which is not the default for releases.

So @christetreault's suggestion would work.

[2015-09-03 21:20] bmcfluff commented on #112
Uniqify appears to be doing its job correctly: in the original vector2.hs.fq, fix#GHC.Types.#58##35#64 appears as bind 6 AND bind 72 (as well as a constant), so uniqify renames bind 72.

[2015-09-04 04:00] ranjitjhala opened #119 "Qualifier Instantiation Error"
See `tests/todo/len00.fq` which works with `fixpoint` but not `fixpoint -n`. This also is the short test demonstrating the problem here:

https://github.com/ucsd-progsys/liquid-fixpoint/pull/118

[2015-09-04 04:00] ranjitjhala commented on #112
Reopened separate issue #119

[2015-09-04 04:00] #112 closed

[2015-09-04 04:15] ranjitjhala commented on #119
somehow the qual-inst env **does not** have the `constant` in them, c.f.

[code]

[2015-09-04 13:55] ranjitjhala commented on #119
Fixed by c815e05f40b15bf5db0eb43a926a5beb6de3714e which also (finally solves #112 ) i.e. `vector2.hs.fq` (however `vecloop.hs.fq` remains open.)

[2015-09-04 13:55] #119 closed

[2015-09-04 15:42] #101 closed

[2015-09-04 17:56] bmcfluff opened #120 "Previously passing tests now fail with Unsafe"
For example:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/external/fixpoint/tests/liquidhaskell_tests/pos/TopLevel.hs.fq

And while I don't have a small test case yet, I think I know why: look at lines 175 and 188 of that file; under the new scheme where binders that match a constant get dropped, we lose the refinement on bind 5 which may have been necessary to prove things Safe.

[2015-09-04 18:17] ranjitjhala commented on #120
Hmm that seems odd -- what's an example binder / refinement that's getting dropped?

[2015-09-04 18:20] ranjitjhala commented on #120
i get it, `True` is the constant/binder in question.

Hmm, let me think about this.
​

[2015-09-04 18:26] ranjitjhala commented on #120
Seems to me that:

IF

  + you have a binder and constant with the same name `x`,

THEN

  + all the binders should have the same sort (of course)
  + all the binders should be free of any KVARs (only CONCRETE refinements)

In short we NEED NOT rename those binders, because there are no KVARs.

SO: can you modify uniqify (aka renameAll, so that it DOES NOT rename any
binders
that correspond to con

[2015-09-04 18:44] ranjitjhala commented on #120
btw this might also be why vecloop.hs.fq fails, and so I'll wait for you to
finish.

On Fri, Sep 4, 2015 at 11:26 AM, Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

--
Ranjit.

[2015-09-04 18:45] bmcfluff commented on #120
I think I finished; now I just need to revert your change that pruned binders matching constants, right?

[2015-09-04 18:51] bmcfluff commented on #120
Fixed (hopefully) by 20860763c7d882b2357287351c55cd88770cb3be

[2015-09-04 18:51] #120 closed

[2015-09-04 18:55] bmcfluff commented on #120
TopLevel is fixed but most others aren't - I'll find a new test case and open another issue.

[2015-09-04 21:16] nikivazou commented on #52
I haven't seen these warnings for a while. Let's close it for now.

[2015-09-04 21:16] #52 closed

[2015-09-04 23:12] bmcfluff opened #121 "non-constant function evaluation"
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/31ae6c8466901cb87ef9a4445d10ca91c8db3949/tests/todo/wrong-arity2.fq

and the original file

https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/external/fixpoint/tests/liquidhaskell_tests/pos/ResolvePred.hs.fq

Is this a LH problem - there's a refinement that attempted to evaluate a non-constant function.

[2015-09-04 23:41] ranjitjhala commented on #121
Hi Ben, can you post this as an issue on the liquid Haskell repo?

[2015-09-05 00:29] bmcfluff commented on #121
Posted at https://github.com/ucsd-progsys/liquidhaskell/issues/443

Closing this issue since it's not a fixpoint issue.

[2015-09-05 00:29] #121 closed

[2015-09-09 21:18] bmcfluff opened #125 "Nonconsecutive BindIds"
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/5909e1a2ef03f4a228a67292279179e20076a286/tests/todo/nonconsec-bindids.fq

It passes if you rename bind 3 (and its use site) to say 2 or 5.

Currently, insertBindEnv assumes BindIds have been assigned consecutively, and so its users (in our case, Validate's renameVV) may trample some binders when they're not consecutive. Do we modify insert

[2015-09-09 22:06] bmcfluff opened #126 "Multiple sorts"
See:

https://raw.githubusercontent.com/ucsd-progsys/liquid-fixpoint/master/external/fixpoint/tests/liquidhaskell_tests/pos/RBTree-height.hs.fq

The _parser_ renames VV#F808 on line 70088 to VV#808. Then renameVV dumps it into the BindEnv, where it conflicts with the differently-sorted VV#808 on line 7872.

I'd like to discuss the purpose of renameVV (for starters, it doesn't rename anything) and

[2015-09-10 00:07] ranjitjhala commented on #126
Eeks. Let's discuss tomorrow 1p?
Do you have a concrete proposal?

[2015-09-10 05:55] bmcfluff commented on #126
1p works.

I think the simplest solution is to just move the Uniqify pass after the renameVV pass. A more extreme solution - if we're treating the VV of a constraint so much like a binder anyway, could we replace the whole {lhs :: SortedReft, rhs :: SortedReft} system with just {rhs :: Pred}?

[2015-09-10 22:11] nikivazou opened #131 "Bug in sort checking"
If you run

`fixpoint.native -v 1  -notruekvars -refinesort -nosimple -strictsortcheck -sortedquals -no-gen-qual-sorts -smtsolver z3  tests/Poly1.fq`

on the following file

[tests/Poly1.fq](https://github.com/ucsd-progsys/liquid-fixpoint/blob/bc544432e70bc6ef80407c86defe7b3197237e97/external/fixpoint/tests/Poly1.fq)

you get an error (`Z3RelTypeError`) as `sortcheck_pred` of `v = append([Nil; v])

[2015-09-11 00:32] nikivazou commented on #98
@ranjitjhala I believe that the problem here is that there is no checking that qualifiers are `bool` (or `prop`) values, neither at liquidHaskell not at fixpoint. Shouldn't we be checking that?

For example, if you instead had `tv r` as a refinement, sort-check will fail:

[code]

[2015-09-11 00:37] ranjitjhala commented on #98
Don't follow -- the example below has no qualifiers?

On Thursday, September 10, 2015, Niki Vazou <notifications@github.com>
wrote:

--
Ranjit.

[2015-09-11 00:39] nikivazou commented on #98
It does not have qualifiers. But checking that `tv r :: bool` fails.

If we were checking that the body of the qualifier is a `bool` then the initial example would create a proper error, instead of crashing at Z3.

Is there a reason why we do not check well-formedness of qualifiers?

[2015-09-11 03:02] ranjitjhala commented on #98
Well, the reason is just that the qualifiers are implicitly checked when
they are instantiated -- so they better be BOOL when you instantiate
them, or else they are not a valid instantiation. So I'm puzzled as to why
this should get past the instantiation. (This plus maybe some BAD reasons
due to our earlier hacky handling of polymorphism...)

On Thursday, September 10, 2015, Niki Vazou <notificat

[2015-09-11 04:31] bmcfluff opened #133 "Malformed WfC?"
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/external/fixpoint/tests/liquidhaskell_tests/pos/absref-crash0.hs.fq#L1789

Ocaml accepts it, but Haskell - I would think correctly - rejects these WfCs as malformed.

[2015-09-11 04:36] ranjitjhala commented on #133
Will look at this tomorrow -- but it might be good if @nikivazou can also take a quick look she may be able to respond before me.

[2015-09-11 07:56] nikivazou commented on #98
Ok, I will check why it got through instantiation. Other than that, wouldn't it be better if we check well-formedness of qualifiers at liquidHaskell level, so that we provide better error messages there?

An error at instantiation will still happen at fixpoint, so we cannot provide good error messages.

[2015-09-11 08:06] nikivazou commented on #133
I do not see anything wrong with this constraint.

Given the environment

[code]

Then
[code]

is a valid `bool` expression

[2015-09-11 17:44] bmcfluff commented on #133
One thing I'm missing is what is the purpose of a wf constraint that contains no kvar?

[2015-09-11 17:53] ranjitjhala commented on #133
That is puzzling, but not totally unexpected because it can arise from
"splitting" a more complex refinement type.

Is that why its rejected? (assuming the reft is well-formed -- i.e.
typechecks, we can just DELETE
the WFC)

On Friday, September 11, 2015, bmcfluff <notifications@github.com> wrote:

--
Ranjit.

[2015-09-11 17:56] nikivazou commented on #133
Yes, constraints without kvars seem meaningless but no wrong or malformed. So you should just ignore them,  but do not reject.

[2015-09-12 04:18] #125 closed

[2015-09-12 07:25] bmcfluff commented on #126
Fixed by #132

[2015-09-12 07:25] #126 closed

[2015-09-14 22:36] ranjitjhala commented on #133
Is this fixed yet? If not shall I do it?

[2015-09-14 22:37] ranjitjhala commented on #131
@nikivazou is this the thing that you are working on (in the other branch?) I seem to recall some mail about improved sort checking/unification?

[2015-09-14 22:59] nikivazou commented on #131
@ranjitjhala this is what I am working on (but on master, no other branch)

[2015-09-15 00:17] ranjitjhala commented on #131
hmm. was there a good reason to not be on a branch? (Working with master
has always been dangerous for me...)

On Monday, September 14, 2015, Niki Vazou <notifications@github.com> wrote:

--
Ranjit.

[2015-09-15 02:08] bmcfluff commented on #133
Fixed by 25a19bdc7a483092cb3f9fc7332f566f9fd6f5e5

[2015-09-15 02:08] #133 closed

[2015-09-15 03:35] ranjitjhala commented on #133
Do the failing tests now pass?

[2015-09-15 07:01] bmcfluff commented on #133
Yes - the only LH.fq pos tests to fail now are

pair00.hs.fq
pair0.hs.fq
maps1.hs.fq
maps.hs.fq
eqelems.hs.fq

[2015-09-15 07:52] nikivazou commented on #98
Fix with #451

[2015-09-15 07:52] #98 closed

[2015-09-15 14:25] ranjitjhala commented on #98
Thanks @nikivazou !!

[2015-09-16 06:05] bmcfluff opened #134 "Unknown constant / Bogus substitution Remix"
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/external/fixpoint/tests/liquidhaskell_tests/pos/pair00.hs.fq#L247

Like #68 except this time in the problematic substitution "$k__371[VV#380:=lq_tmp_x_401]", VV#380 _is_ in the domain of the kvar yet lq_tmp_x_401 does not exist.

[2015-09-16 07:10] bmcfluff opened #135 "Maps"
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/9885756db01815a4457ac4a4725a82f870aabe4c/tests/todo/maps1.hs.fq

Haskell solver must never have been taught the dark secrets Ocaml knows about the theory of Maps (similar to #83).

[2015-09-16 15:52] ranjitjhala commented on #135
Yes , this is easy...

[2015-09-16 17:01] bmcfluff opened #136 "Qualifier Instantiation Error 2"
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/005375839668a961b38574ae0a5c73d6277cfe37/tests/todo/qualif-inst.fq

Works with fixpoint but not fixpoint -n (related to #119?).

[2015-09-16 17:12] bmcfluff opened #137 "Bot by default?"
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/63a8e62e17455ca86c24f4c074742fb1d2218924/tests/todo/bot.fq

fixpoint accepts this even though there is no explicit Bot qualifier, presumably because of a special case for unconstrained kvars. Do we want to add this behavior to fixpoint -n?

[2015-09-16 17:23] nikivazou commented on #137
Do you have any qualifiers at all?

Even though there is no explicit Bot qualifier the `$k0` will most probably be initialized to something containing a contradiction, like `v > 0 & v < 0`.

[2015-09-16 17:43] ranjitjhala commented on #135
1. Look at `external/fixpoint/{smtLIB2, theories.ml}` and make the corresponding addition in `Theories.hs`
2. See the corresponding  thing for `smt_set_*` and
3. Make the relevant additions for `smt_map_*`.

[2015-09-16 18:11] ranjitjhala opened #138 "Delta-Debugging of Constraints"
We should merge the code here:

https://github.com/rolph-recto/liquidhaskell/blob/fault-local/FaultLocal.hs

by @rolph-recto into liquid-fixpoint (not in LH), this should help with debugging fixpoint itself (and of course, better error messages for LH, RefScript et al.

[2015-09-16 18:23] bmcfluff commented on #137
Another test involving multiple kvars:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/447d69161241a549bd56431766bca18ab0a7df53/tests/todo/bot2.fq

Same behavior.

[2015-09-16 18:28] nikivazou commented on #137
These is an (efficiency) optimization in native fixpoint that says that,

if there are unconstraint kvars in the environment of a constraint, then ignore the constraint.

This is true assuming that bot is a qulifier: the unconstraint kvar will be false and the contraint will be trivially satisfied, as false is in the environment.

At liquidHaskell, and because of this optimization, we require that

[2015-09-16 18:40] ranjitjhala commented on #137
Sure, but I think its fine to leave the current behavior for --native,
because its "sound".

On Wednesday, September 16, 2015, Niki Vazou <notifications@github.com>
wrote:

--
Ranjit.

[2015-09-16 18:40] ranjitjhala commented on #137
same behavior == UNSAT right?

On Wednesday, September 16, 2015, Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

--
Ranjit.

[2015-09-16 18:42] bmcfluff commented on #137
yes, same behavior is UNSAT for fixpoint -n and SAT for fixpoint

[2015-09-16 18:47] nikivazou commented on #137
It is fine.

But, fixpoint is "sound" because it assumes that the bot qualifier is there.

[2015-09-16 23:25] ranjitjhala commented on #137
@nikivazou you mean fixpoint-ocaml, right?

[2015-09-16 23:25] #137 closed

[2015-09-16 23:26] ranjitjhala commented on #131
@nikivazou is this fixed by your recent edits?

[2015-09-16 23:33] nikivazou commented on #137
Right

On Wed, Sep 16, 2015 at 4:25 PM, Ranjit Jhala <notifications@github.com>
wrote:

--
Niki Vazou

[2015-09-16 23:34] nikivazou commented on #131
Yes, but still haven't checked if my new implementation slows down liquidHaskell.

[2015-09-16 23:37] ranjitjhala commented on #131
ah ok. is your new thing on a branch or master (of liquid-fixpoint?)

On Wednesday, September 16, 2015, Niki Vazou <notifications@github.com>
wrote:

--
Ranjit.

[2015-09-16 23:38] nikivazou commented on #131
master

[2015-09-16 23:39] nikivazou commented on #131
But you need a flag "-newcheck" to activate it

[2015-09-16 23:40] ranjitjhala commented on #131
--newcheck when running `liquid` right?

e.g. `liquid --newcheck foo.hs`

?

On Wednesday, September 16, 2015, Niki Vazou <notifications@github.com>
wrote:

--
Ranjit.

[2015-09-16 23:42] ranjitjhala commented on #134
I *suspect* this is a malformed constraint due to some abstract-refinement parameter hassles in LH.

paging @nikivazou ?

[2015-09-17 00:14] nikivazou commented on #131
Yes.

[2015-09-17 00:14] nikivazou commented on #134
I suspect the same. Will take a look soon.

[2015-09-17 04:20] ranjitjhala commented on #131
I am seeing a bit of slowdown on RBTree-ord.hs.

   19s --> 24s

re-running a few times to double check.

PS: @nikivazou -- can you please come on the SLACK thing.
Somehow I find it a *LOT* more convenient for discussing
LH/Fixpoint etc. than email.

--
Ranjit.

[2015-09-17 15:50] christetreault commented on #131
I just tested on benchmarks test and bytestring. Seeing roughly the same times on both for single and 4 cores.

[2015-09-17 16:08] christetreault commented on #131
I just tested on benchmarks test and bytestring. Seeing roughly the same times on both for single and 4 cores. Maybe a few seconds slower than the results I posted on Slack on the 10th.

[2015-09-17 16:26] ranjitjhala commented on #131
Its probably fine to make `--newcheck` the default:

time stack exec -- liquid --cores=1 --newcheck -i
benchmarks/bytestring-0.9.2.1/
benchmarks/bytestring-0.9.2.1/Data/ByteString.hs

      277.49 real       233.65 user         5.14 sys

time stack exec -- liquid --cores=1 -i benchmarks/bytestring-0.9.2.1/
benchmarks/bytestring-0.9.2.1/Data/ByteString.hs

      269.99 real       220.64 user

[2015-09-17 16:39] nikivazou commented on #131
I noticed too the small slow-down and I am trying to fix it, by changing my substitution structure from a list to a map.

[2015-09-17 18:20] nikivazou commented on #131
I made my edit and time got a little better, so we can make the new check the default.

Btw, what is the proper way to debug in ocaml? Now I am using just printing:

(* let logf s = print_string ("\nLOG: " ^ s) *) (* to turn debuggin on *)
let logf s = ()

But even when I have it off, due to eagerness and if this is not optimized, the arguments of `logf`are evaluated, meaning many useless string c

[2015-09-17 18:52] ranjitjhala commented on #131
I've been using a top-level `mydebug` at the start of each module, and then
guarding
the debug statements with them, e.g.

    let _  = if mydebug then (Printf.printf "[%d] UNSAT 1 " (us_ref += 1);
flush stdout) in

or

    let _  = Co.bprintflush mydebug "\nDONE: Fixpoint: Trueing
Unconstrained Variables \n" in

On Thursday, September 17, 2015, Niki Vazou <notifications@github.com>
wrote:

--
Ran

[2015-09-18 02:52] nikivazou commented on #131
It got a littler faster! I am setting the new check as default in liquidhaskell

[2015-09-18 02:52] #131 closed

[2015-09-18 13:28] ranjitjhala commented on #131
Nice! Thanks!

On Thu, Sep 17, 2015 at 7:52 PM, Niki Vazou <notifications@github.com>
wrote:

--
Ranjit.

[2015-09-18 18:59] bmcfluff commented on #135
Fixed by 8b8d497

[2015-09-18 18:59] #135 closed

[2015-09-18 20:05] ranjitjhala commented on #135
Nice!! Thanks!

[2015-09-19 00:07] bmcfluff commented on #138
@rolph-recto what commit of Fixpoint does that build with?

[2015-09-21 19:53] bmcfluff opened #140 "Parse.hs"
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/4043d839e643a1f2f95ef6a83157f611d19fa0b8/tests/todo/tag-vs-comment.fq

It works, but if you remove "tag []" then it crashes the parser.

[2015-09-21 21:05] bmcfluff commented on #140
We decided that the tag field is mandatory. I'll update the parser and the tests.

[2015-09-21 21:20] bmcfluff commented on #140
Fixed by b812674

[2015-09-21 21:20] #140 closed

[2015-09-24 15:37] christetreault opened #144 "Cabal file versioning needs to be maintained"
Same issue as: https://github.com/ucsd-progsys/liquidhaskell/issues/461: we have no dependency upper or lower bounds in `liquid-fixpoint.cabal`. The result will be cabal-install thinking it can just install any version of said dependencies. This will stop being a good plan as we try to build older and older versions of fixpoint.

This is less pressing than the above referenced issue though, becaus

[2015-09-24 15:38] christetreault commented on #144
From where I'm sitting, this is a back burner issue. I'll fix it when I find some downtime, but feel free to take ownership if you're bored and want to fight with cabal!

[2015-09-30 22:54] spinda opened #146 "Merge Pred and Expr"
We've talked about this before, so I'm submitting this ticket to make sure it gets done eventually. `Pred` and `Expr` should be merged (into `Logic`?) to lift some weird arbitrary restrictions (eg. you can't have a `Pred` in an application).

[2015-09-30 22:55] nikivazou commented on #146
Sure! I am favoring merging.

[2015-09-30 22:56] ranjitjhala commented on #146
Is there any reason NOT to merge?

[2015-09-30 22:57] ranjitjhala commented on #146
Ie if all tests pass I am happy to merge

[2015-09-30 23:08] nikivazou commented on #146
The only issue is that the interface will break.

[2015-10-01 00:38] ranjitjhala commented on #146
We can bump up the version number etc to take care of that (I hope you all followed the other thread on that topic?

[2015-10-01 03:19] spinda commented on #146
To start off, I'll copy/paste some code from an email I sent about this a while back:

[code]

Some things are missing from here, and it's probably not exactly how the final representation needs to be, so&mdash;feedback/changes?

[2015-10-01 03:52] gridaphobe commented on #146
Super nitpicky: most of these datatypes have no sensible definition for `Ord`.

[2015-10-01 04:02] spinda commented on #146
True&mdash;I'm not sure why I put that in there...

[2015-10-01 04:27] christetreault commented on #146
Some feedback from a mere mortal; Some of these types don't have names that are super obvious to the untrained eye. `Prop` and `Constant`

[2015-10-01 05:29] gridaphobe commented on #146
More nitpicky comments:

1. I agree with @christetreault (even though I'm also guilty of using `Bop`), full words are better.
2. I really dislike this habit we have of using a single char prefix for certain datacons, e.g. `LProp` etc. We have a module system, let's use it!
3. Why does `Top :: Prop` but `Bot :: Logic`? Strange asymmetry there..
4. Neither fixpoint nor LH use `Top` or `Bot` **anywhe

[2015-10-01 09:00] spinda commented on #146
Revised version, taking into account @christetreault's and @gridaphobe's comments and adding in some new ideas.

[code]

In this version, variables in Fixpoint can have arbitrary annotations attached alongside the symbols in the AST (see [`Data.Dynamic`](https://hackage.haskell.org/package/base-4.8.1.0/docs/Data-Dynamic.html)). This allows for carrying around language-specific information (eg. the

[2015-10-01 15:49] christetreault commented on #146
Seems reasonable to me. Only issue that remains for me is `KVar`, but I understand that this is what this thing has been called since time immemorial, so I'm not going to make a stink over it since changing this will require refactoring a lot of code.

Also; why snake_case in the fields of `Variable`?

BTW, what _does_ the `K` in `KVar` stand for?

[2015-10-01 15:59] gridaphobe commented on #146
The `K` comes from the original liquid types paper (PLDI 2008), which uses a fancy lowercase `k` to denote liquid type variables (though it's not in the syntax figure, tsk tsk). As to why `k` instead of eg `p` for predicate, I don't know, there may be precedent in the literature.

[2015-10-01 16:02] christetreault commented on #146
Ahh, well if it's `kvar` in the original paper, then far be it from me to question it! :)

[2015-10-01 17:19] spinda commented on #146
@christetreault Maybe this is more common in LiquidHaskell than Fixpoint, but in LH many data types use GHC's `prefix_camelCase` convention for field names. Can change if it doesn't fit with Fixpoint's code.

[2015-10-01 17:25] ranjitjhala commented on #146
FWIW I greatlyPreferThisStyle to_this_one (as does hlint) so if we're
making changes, and its easy, go for the former...

On Thursday, October 1, 2015, Michael Smith <notifications@github.com>
wrote:

--
Ranjit.

[2015-10-01 17:26] christetreault commented on #146
"many data types" is certainly a sticking point for me. It should be either "all" or "none". Though once again fixing this is outside the scope of what we're talking about.

That said, I haven't noticed snake_case before, so I'm inclined to believe that more types don't use it, so maybe we shouldn't add more that do?

Haskell is pretty strongly in the camelCase convention, so I'd personally perfer

[2015-10-01 19:40] spinda commented on #146
Just to clarify, the naming style I'm referring to isn't `all_snake_case`, it's `prefix_camelCaseName`, where the `prefix_` keeps the fields from clashing with those of other types. Either style is fine with me&mdash;if `camelCaseOnly` is better here then we'll go with that.

Any more feedback on the structure of the AST? Any pieces I'm missing? (eg. should we add more location info?)

[2015-10-01 19:50] bmcfluff commented on #134
Things have changed so here's the new version:

See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/36419b5a67fcda119f23865ca64d84b7988e80fe/tests/todo/pair00.hs.fq#L168

Like #68 except this time in the problematic substitution "$k__383[VV#382:=lq_tmp_x_400]", VV#382 is in the domain of the kvar yet lq_tmp_x_400 does not exist.

[2015-10-01 19:53] bmcfluff commented on #136
Note: to reproduce this bug, you now need to remove line 12 ("grd true") from the linked fq file.

[2015-10-01 19:55] nikivazou commented on #134
Thanks! I will take a look soon:)

[2015-10-01 20:04] BenjaminCosman opened #147 "Better not name your sort "int*""
See:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/458e03d7fa2bef3831e11c308dee6ade696edcd4/tests/todo/int-name.fq

If you run with fixpoint --native -v, you'll see that the sort "intfoo" is getting parsed as "(int @(0))" instead of "@(0)". Probably easiest to ignore this bug and just avoid naming things int*, but I'm recording it anyway.

[2015-10-05 22:52] bmcfluff opened #151 "Parsing"
If you run `liquid --native` on LH's `tests/pos/transpose.hs` it fails, but if you run `liquid` and then `fixpoint --native` on the resulting fq file, it passes.

[2015-10-06 03:54] ranjitjhala commented on #151
@bmcfluff I *think* I have fixed this. Can you check using the `binary` branch? (Or I can merge into master too...).

Also: how do you run the `--native` regressions?

[2015-10-06 04:37] bmcfluff commented on #151
This one is fixed.

Currently I run the `--native` regressions by swapping in (one line changes from my git stash) versions of `Liquid.hs` and fixpoint's `Interface.hs` that effectively hardwire the native flag, then running the standard test suite.

[2015-10-06 05:42] bmcfluff commented on #151
Same symptoms, except for AVLRJ.hs and zipper.hs instead of transpose.hs.

[2015-10-06 05:43] bmcfluff commented on #151
After those, only 4 other unit tests fail - Class.hs (reason as yet unknown), and 3 due to issues #134 and #136

[2015-10-06 06:13] christetreault commented on #147
I've just spent a little bit of time looking at this, so please forgive me if I've missed some subtlty, but it seems to me that this is probably just missing a `sepBy` or somesuch somewhere.

[here](https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/src/Language/Fixpoint/Parse.hs#L340-L349) we have `fTyConP` which parses some reserved words, including "int".

[here](https://github.com/ucs

[2015-10-06 10:13] gridaphobe commented on #147
I believe the real problem is this wonderful line

https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/src/Language/Fixpoint/Parse.hs#L107

This says that no character can be part of a valid identifier, which completely screws up the `reserved` parser. `reserved` parses the given string and then looks ahead to make sure that the next character is not a valid identifier character.

So `rese

[2015-10-08 23:55] nikivazou commented on #134
Should be fixed by ucsd-progsys/liquidhaskell#485

[2015-10-08 23:55] #134 closed

[2015-10-21 22:47] ranjitjhala opened #159 "binders with different sorts"
@nikivazou and @bmcfluff see

`tests/todo/Class0.fq` which is a distillation of `tests/todo/Class.hs.fq` which is from `tests/pos/Class.hs`.

It works with OCAML but not `--native` -- seems to have to do with the binders appearing under DIFFERENT sorts...?

[2015-10-22 00:21] ranjitjhala commented on #151
Can we close this issue?

[2015-10-22 00:22] ranjitjhala commented on #138
I'm going to do this now.

[2015-10-22 00:36] #151 closed

[2015-10-22 06:00] gridaphobe opened #160 "kvars should be functions"
I find it quite disturbing that the following is UNSAFE

[code]

but if I replace all the `vN`s with `v`, it becomes SAFE.

The two programs should be alpha-equivalent but they clearly aren't. I guess this is because we solve `$k0` for a concrete predicate, so it has to refer to a **specific** `vN`. Instead, we should (conceptually) solve it for a function, i.e. we should think of

[code]

as

[co

[2015-10-22 15:20] nikivazou commented on #160
Can we do that by adding one more pending substitution at the well
formedness constraint when we create the k variables?
On Oct 21, 2015 11:00 PM, "Eric Seidel" <notifications@github.com> wrote:

[2015-10-22 15:26] gridaphobe commented on #160
Yes, I think that would work. But @ranjitjhala's suggestion yesterday was to do away with the pending substitutions altogether, which sounds much cleaner to me.

[2015-10-22 15:52] nikivazou commented on #160
Sorry, I didn't follow the yesterday discussion, but doing away with
pending substitutions sounds like pushing abstract refinements at fixpoint.
If this makes any sense.
On Oct 22, 2015 8:26 AM, "Eric Seidel" <notifications@github.com> wrote:

[2015-10-22 16:03] gridaphobe commented on #160
Yes, that sounds about right.

[2015-10-22 22:17] ranjitjhala commented on #160
The only reason your thing seems disturbing is that you've gotten the constraints wrong (as @nikivazou points out) really, the RHS _should_ have substitutions `[v10 := v7]` and `[v10 := v9]` respectively, and otherwise the constraints are simply malformed (and should have been rejected as such.)

(Thankfully, with `--native` they _are_ rejected -- or rather, it crashes right now, as I'd expect it

[2015-10-28 23:32] bmcfluff commented on #159
Fixed by 5c880b5

[2015-10-28 23:32] #159 closed

[2015-10-28 23:34] ranjitjhala commented on #159
nice!

[2015-10-30 03:26] Gabriel439 opened #162 "Liquid Haskell fails on integer literals greater than or equal to 0x4000000000000000"
Minimal reproducing program:

[code]

... fails with:

[code]

The same program succeeds if you decrement the integer to `0x3FFFFFFFFFFFFFFF`.

I filed this against the `liquid-fixpoint` repository because relevant code seems to be located here:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/154dff9329a23d38869f5fc47dc7ac80c0fd870d/external/fixpoint/fixLex.mll#L53

[2015-10-30 03:28] ranjitjhala commented on #162
Yikes, thanks! Will look into this asap! (Also: need to check if the shiny new Haskell solver suffers similarly...)

[2015-11-04 17:44] ranjitjhala commented on #147
we _should_ fix this...

[2015-11-04 17:44] ranjitjhala commented on #144
I'm closing this, since I don't know what a concrete action item is...

[2015-11-04 17:44] #144 closed

[2015-11-13 20:24] rolph-recto commented on #138
Sorry, somehow I missed this issue!

I've migrated the delta debugging code here: https://github.com/rolph-recto/liquid-fixpoint/tree/fault-local-mainline

You can see the relevant changes in this commit log: https://github.com/rolph-recto/liquid-fixpoint/commit/6ae951cc1f5135d1533de188fd97fee49ffdadf5

Basically ``solveFaultLocal`` partitions ``FInfo a`` and runs delta debugging on failing partit

[2015-12-01 23:13] abakst opened #165 "Fixpoint parser error with rhs conjunction (no kvars)"
`fixpoint` returns an error parsing the following:

https://gist.github.com/abakst/1756c428ae6da193a61b#file-foo-fq

`fixpoint: Error {errLoc = SS {sp_start = "ping.fq" (line 2, column 3), sp_stop = "ping.fq" (line 7, column 1)}, errMsg = "RHS without single conjunct at \"ping.fq\" (line 7, column 1) \n"}`

[2015-12-02 05:39] ranjitjhala commented on #165
closed by https://github.com/ucsd-progsys/liquid-fixpoint/pull/166

[2015-12-02 05:39] #165 closed

[2015-12-02 05:39] ranjitjhala commented on #165
@abakst can you check the above works for your actual test? thanks!

[2015-12-02 05:53] abakst commented on #165
That fixes the parse error, thanks!

[2015-12-02 06:00] abakst opened #167 "Different output for fixpoint and fixpoint.native"
Running `fixpoint` on https://gist.github.com/abakst/73c8955562b8ca67938a#file-ping_loop-fq returns `Unsafe` whereas `fixpoint.native` returns `SAT`.

[2015-12-02 07:26] bmcfluff commented on #167
This is because the Haskell solver renames many things and so it does not play nicely with qualifiers containing unbound variables. Of course if you just add the extra parameters to Inv in this example then we have to instantiate a terrifying 8-place qualifier...

[2015-12-02 14:51] ranjitjhala commented on #167
Actually if you split those conjunctions it's not so bad.

In short no free variables in qualifiers please...

Sent from my iPad

[2015-12-02 17:27] christetreault commented on #106
Fixpoint no longer uses the ocaml solver by default. Due to this, I no longer consider this to be an issue. If somebody wants to use the old solver, I think its reasonable that they should make sure it's rebuilt first.

[2015-12-02 17:27] #106 closed

[2015-12-02 18:07] abakst commented on #167
Hm...I guess I don't have an argument except that free variables are sometimes convenient for testing. Fine.

[2015-12-02 18:07] #167 closed

[2015-12-02 18:29] ranjitjhala commented on #167
@bmcfluff -- we should probably add a sanitize check that complains about free variables in qualifiers, to avoid this confusion later.

[2015-12-04 04:01] rolph-recto commented on #138
Ok, added command line options to call minimization and write minimized `FInfo` to a new fq file. The commit is [here](https://github.com/rolph-recto/liquid-fixpoint/commit/77db05756b1cda233f07dc84b78b4b6384f97100).

However, I get this error message when I try to run minimization on an fq file:

[code]

It looks like it hangs when ``solve`` is called because the previous call to solve still has t

[2015-12-04 04:48] ranjitjhala commented on #138
Is this based off master?

[2015-12-05 22:47] Gabriel439 commented on #162
For anybody else that has this issue, you can work around this by building the larger literal from two smaller literals, like this:

[code]

[2015-12-05 22:55] ranjitjhala commented on #162
Oh, thats I nice workaround -- thanks!

On Sat, Dec 5, 2015 at 2:47 PM, Gabriel Gonzalez <notifications@github.com>
wrote:

--
Ranjit.

[2015-12-06 06:41] rolph-recto commented on #138
Yes, specifically https://github.com/ucsd-progsys/liquid-fixpoint/commit/b6ffad54849e90ec8d3af088fb2e1d4c1bf4179a.

[2016-01-06 21:56] christetreault opened #173 "Fixpoint hangs indefinitely on LH test file pos/Product.hs"
Fixpoint hangs indefinitely when solving https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/pos/Product.hs via Liquid Haskell.

This occurs only when solving on Linux using Z3 4.4.0 (can be reproduced on goto), it works as advertised on my Mac running this same version of Z3.

@ranjitjhala has opened [an issue against Z3](https://github.com/Z3Prover/z3/issues/399) regarding this.

The

[2016-01-06 22:18] ranjitjhala commented on #173
The fix is to change:

[code]

to

[code]

Aside: please don't use `Z3` when we mean `SMT` (as in this case).

Of course, if we actually need `Real` then we are overloading `+` and `*` etc. so may need
to define multiple SMT operators, and use the appropriate one at the given context...

[2016-01-19 20:59] bmcfluff commented on #146
Resolved by #178

[2016-01-19 20:59] #146 closed

[2016-01-20 08:14] rolph-recto commented on #138
@ranjitjhala I revisited this and I think I found the cause of failure: `runSolverM` gets called multiple times but `cleanupContext` is not called, leaving the file handle to the *.smt2 file hanging. I modified `runSolverM` as follows to fix this:

[code]

And indeed the bug in the above comments goes away. Now a call to `fixpoint --minimize [file]` will generate `.liquid/[file].minfq`, which cont

[2016-01-20 13:36] ranjitjhala commented on #138
Nice! So I should try to merge the PR now?

[2016-01-20 17:48] gridaphobe commented on #138
@rolph-recto `cleanupContext` won't be run if the smt solver aborts, we probably need to use https://hackage.haskell.org/package/base-4.8.1.0/docs/Control-Exception-Base.html#v:bracket instead.

[2016-01-20 19:53] rolph-recto commented on #138
Pull request is here: https://github.com/ucsd-progsys/liquid-fixpoint/pull/183

As per @gridaphobe 's suggestion, I added exception handling code in `runSolverM`.

[2016-01-29 19:42] nikivazou opened #187 "Fixpoint Diverges on malformed smt queries"
On the [divergence](https://github.com/ucsd-progsys/liquid-fixpoint/tree/divergence) branch, `fixpoint --eliminate tests/pos/test000.hs.fq` diverges.

The reason is that

 - serialize calls [sortExpr](https://github.com/ucsd-progsys/liquid-fixpoint/blob/divergence/src/Language/Fixpoint/SortCheck.hs#L89)

- `sortExpr` fails, because [serialization of existentials](https://github.com/ucsd-progsys/li

[2016-01-29 20:47] gridaphobe commented on #187
Can you run with profiling and `-xc` to confirm that `errorstar` is not called? I find that hard to believe..

[2016-01-29 23:55] nikivazou commented on #187
Thanks!!!!! problem solved!

[2016-01-29 23:55] #187 closed

[2016-01-30 21:46] ranjitjhala commented on #173
Fixed, should have marked the PR...! Can you confirm?

[2016-01-30 21:46] #173 closed

[2016-01-30 21:48] ranjitjhala opened #189 "Ill-sorted Constraints"
We should reject (with some sort of ERROR/CRASH)

   `tests/todo/wl01.hs` (in the `graphs` branch ATM).

which has an ill-sorted constraint (with a variable not bound in the environment.)

I suspect it slips through as the variable _is_ in the global binder environment, so it somehow
sneaks past the sort checks (done with the global env.)

[2016-02-01 20:27] christetreault commented on #173
This has been working for me for a few weeks now, so it should be good to go!

[2016-02-04 06:16] ranjitjhala opened #193 "Bug in SMT embedding of polymorphic applications"
@nikivazou there is some issue in your defunctionalization, see:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/develop/tests/todo/poly.fq

which is just:

[code]

The *monomorphic* definition works fine, but the *polymorphic* one doesn't, because the `offset 0`
term gets embedded/serialized as `int` using the `int_apply`. This is a bug because the term is infact a `BitVec...` as thats the

[2016-02-04 07:33] nikivazou commented on #193
Pushed a fix!

[2016-02-09 04:44] ranjitjhala commented on #136
This test works fine now, added to `tests/pos/qualif-inst.fq`,

[2016-02-09 04:44] #136 closed

[2016-02-09 04:47] ranjitjhala commented on #193
is the `elaborate` code fixed and merged in? if so, shall we close this issue?

[2016-02-09 16:54] nikivazou commented on #193
Yes, it is fixed, closing!

[2016-02-09 16:54] #193 closed

[2016-02-16 21:42] bmcfluff commented on #189
Fixed by 74f39e0

[2016-02-16 21:42] #189 closed

[2016-02-16 21:46] ranjitjhala commented on #189
Is this fixed?

On Tue, Feb 16, 2016 at 1:42 PM, bmcfluff <notifications@github.com> wrote:

[2016-02-16 21:47] bmcfluff commented on #189
I believe that 74f39e0 fixed it.

[2016-02-19 05:33] abakst opened #203 "Instantiate qualifiers with measures"
It would be convenient to be able to write qualifiers that can be instantiated with measures (and probably literals as well), à la:

https://gist.github.com/abakst/e1b7bd126e706aaa0b5c

[2016-02-19 23:47] nikivazou commented on #203
It should be feasible, especially now that after defunctionalization all functions are basically presented to SMT solver as having Int type

[2016-02-27 16:43] gridaphobe opened #211 "cannot build on windows"
The fancy new progress bar incurs a transitive dependency on unix, which means fixpoint won't build on windows anymore. Perhaps we can conditionally include the ascii-progress package on unix systems.

[2016-02-27 19:00] ranjitjhala commented on #211
Do you know how to do that? Or is this cpp hell?

[2016-02-27 20:47] gridaphobe commented on #211
Yes, but it will involve CPP :(

[2016-02-27 23:58] ranjitjhala commented on #211
Btw, it says [here](https://hackage.haskell.org/package/unix) that the package is supported under cygwin.

Is cygwin dead / a non-starter these days?

[2016-02-28 05:19] gridaphobe commented on #211
I don't think it's either, but supporting cygwin isn't the same as supporting windows. E.g. the recommended way of installing stack/ghc doesn't include cygwin, and you can build most haskell packages (including the hackage release of LH) without cygwin.

[2016-02-28 05:24] gridaphobe commented on #211
Actually we might be able to remove the progress bar on windows without resorting to CPP, if we

1. make a copy of the progress-bar module with stub functions
2. put this module in a separate directory
3. tell cabal to add this directory to the import path if on windows

I use this trick in LH to override the Paths_liquidhaskell module when developing.

[2016-02-28 05:31] ranjitjhala commented on #211
that sounds crafty (should be super easy, just replace all functions with

  `return ()`

I think they are mostly of type `IO ()`

On Sat, Feb 27, 2016 at 9:24 PM, Eric Seidel <notifications@github.com>
wrote:

[2016-03-03 00:28] #62 closed

[2016-04-01 21:48] #211 closed

[2016-05-14 21:31] ranjitjhala commented on #138
The above or #183 is long merged.

[2016-05-14 21:31] #138 closed

[2016-05-25 16:51] ranjitjhala opened #230 "unsoundness bug in eliminate / free params"
via @bmcfluff  -- this says "SAFE" with `--eliminate` when it shouldn't.

[code]

[2016-05-25 17:10] ranjitjhala commented on #230
Pasting in slack discussion for reference.
---
benjamincosman [4:36 PM]
eliminate converts k_0 to something equivalent to (x=y)
whereas it should just be True
too many substPreds getting added

`cubePred` from Solution.hs converts the lhs k0,
into \exists (karg_v) . (karg_v = y /\ \exists () . (karg_v = x))

rjhala [4:44 PM]
(the `x` should be quantified out inside, right?
i.e. it ​*should*​ be `\

[2016-05-26 01:16] spinda opened #231 "Fail more gracefully if z3 isn't working"
See https://github.com/spinda/liquidhaskell-cabal/issues/3

[2016-05-26 16:28] ranjitjhala commented on #231
@spinda  is the issue that `fixpoint` keels over and dies with this odd `fd:hGetLine` error instead of saying "I cannot find Z3" or some such?

[2016-05-26 16:56] gridaphobe commented on #231
That seems to be the issue. We already have a nice error message for when we **can't find** z3, but we don't check whether z3 is working properly.

[2016-05-26 16:58] ranjitjhala commented on #231
what do you mean by "working properly" ?

[2016-05-26 17:16] gridaphobe commented on #231
Something along the lines of: able to start-up and answer queries without crashing. As I understand it, in the referenced issue, `z3` was on the PATH and executable, but somehow mis-configured or mis-compiled. So it quickly crash, which presented to us as the pipe mysteriously vanishing.

I think the best we can do here is to watch out for such abnormal behavior of z3, and issue a general "Somethi

[2016-05-26 19:24] ranjitjhala commented on #230
Thinking about this some more ... I'm wondering if this *should* be marked `SAFE`...

[2016-05-26 19:50] ranjitjhala commented on #230
Hmm. I'm puzzled... I wonder if the above **should** in fact be "interpreted" as `SAFE`.

Take a look at: http://goto.ucsd.edu/~rjhala/papers/hmc.pdf

The above constraints correspond to a program:

[code]

in, which in fact, the assert never fails...

Am puzzled.

[2016-05-26 21:26] spinda commented on #231
I think a large part of the problem is that liquid-fixpoint reads from z3's stdout in many places without doing any error checking. At minimum, `smtReadRaw` should watch for EOF and throw up a proper error message if it hits it. z3's stderr output should also probably be logged instead of thrown away as it is now. Maybe it could be printed to the user as part of the error condition, similar to how

[2016-05-26 21:58] ranjitjhala commented on #230
On still further ponderation, some facts.

1. My "conjecture" above is false.
2. Nevertheless, I think the above is in fact, SAFE.

# For 1

I basically implemented the check it passes on a surprisingly large number but **not all** programs. Consider the following:

[code]

Yields the constraints:

[code]
$k_0 := \v -> v = x
[code]

[2016-05-26 22:33] gridaphobe commented on #230
@ranjitjhala but your solution

[code]

is not well-formed, because `x` is not in scope.

If you add `x` to the environment of the `wf` constraint then regular fixpoint will also say SAFE.

[2016-05-26 22:51] ranjitjhala commented on #230
Not in scope where? It **is** in scope wherever the `$k_0` refinement is used.

[2016-05-26 22:55] ranjitjhala commented on #230
Closing for now, but really this indicates we ought to properly formalize and prove eliminate sound ...

[2016-05-26 23:21] gridaphobe commented on #230
It's not in-scope in the `wf` constraint itself.

[code]

If you add `0` to the `env`, fixpoint deems the constraints SAFE.

This is tangential to whether `eliminate` is doing the right thing, but worth noting anyway. Perhaps we could generate the `wf` constraints directly from the subtyping constraints, using the intersection of the environments from the subtyping constraints. That way we wouldn'

[2016-05-28 18:01] ranjitjhala commented on #230
Folks, here's why this is **definitely** not an unsoundness bug. Here's the thing: the whole scope / wf thing exists _solely_ to define the **parameters** for k-vars, i.e. the bits that can actually **"change"**; other than that, a k-var's solution can actually refer to _everything_ else (i.e. **all** the other binders.) This simplifies things a lot IMO, because we don't have to worry about tree-s

[2016-06-09 18:04] bmcfluff opened #238 "Filenames in multiple places"
[Config stores source filenames](https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/src/Language/Fixpoint/Types/Config.hs#L45-47). [FInfo also stores them](https://github.com/ucsd-progsys/liquid-fixpoint/blob/develop/src/Language/Fixpoint/Types/Constraints.hs#L454). Can we remove one of these two? It's causing confusion in for example [Minimize](https://github.com/ucsd-progsys/liquid-fixp

[2016-06-09 18:05] bmcfluff commented on #238
(Or if not remove one, at least add documentation on the purpose of each)

[2016-06-09 18:05] ranjitjhala commented on #238
This would be a good idea, but its tricky. See if you can figure it out...

[2016-06-11 15:27] ranjitjhala commented on #230
My formalization & reasoning above *is wrong*, demonstrated by the
following [counterexample](tests/neg/NonLinear.fq) which SAFE with `--eliminate`
(but thankfully, *not* with `--old-elim`) which is clearly unsound.

[code]

This is not contrived, but a simplification of the constraints you may get from

[code]

[2016-06-26 17:38] ranjitjhala commented on #230
Fixed by reverting to "oldelim" and disabling the "pack" optimizations. TODO link to proper PR

[2016-06-26 17:38] #230 closed

[2016-06-29 14:17] ranjitjhala commented on #162
Looks like this works (and probably has for a while!) worked fine ever since we switched to the native haskell solver. Thanks!

[2016-06-29 14:17] #162 closed

[2016-06-29 17:28] Gabriel439 commented on #162
Thank you! :)

[2016-10-14 21:07] atondwal opened #267 "Elaborator Crash: Cannot unify (List.List @(47)) with b_aebs"
on cse230WI15 final exam's List.lhs

[code]

[2016-10-14 21:20] nikivazou commented on #267
The error is legit!  These two types cannot be unified.
What is the .fq file that creates it?

[2016-10-14 21:27] atondwal commented on #267
[List.lhs.fq](https://github.com/ucsd-progsys/liquid-fixpoint/files/530473/List.lhs.fq.txt). It's generated from a skeleton from last year's CSE230 Final, so it shouldn't crash the elaborator (and presumably didn't at some point!)

[2016-10-14 22:22] nikivazou commented on #267
During last year's CSE230 Final we did not have elaboration.
The elaborator checks well formedness of intermediate logical expressions that were not checked before. So, I bet your .fq file leads to intermediate malformed expressions.

[2016-10-14 22:36] atondwal commented on #267
Hmm, can a hs file that used to be safe generate an fq that causes an elaborator crash due to ill-formed intermediate expressions? I'm getting this error on even the safe (student homework) files in the 230 dataset from Eric --- I filed this bug about the skeleton because I didn't want to post the student solutions online.

It's right to point out that these types can't be unified, but I'm not sur

[2016-10-15 01:16] ranjitjhala commented on #267
This is not impossible... (and there is good reason for it).

Can you post the file somewhere?

On Friday, October 14, 2016, Anish Tondwalkar <notifications@github.com>
wrote:

[2016-10-15 07:32] #238 closed

[2016-10-16 14:35] MichaReiser opened #268 "Input File Format Specification"
Hy everyone

I'm trying to create a simple liquid haskell implementation for the simple lambda calculus as a student project (to explain refinement types to other). As I' unfamiliar with SMT solvers I want to delegate the constraint solving to liquid-fixpoint.

Exists there any documentation how an input file needs to be build up that liquid fixpoint can solve fit?

Thanks...
Micha

[2016-10-16 18:00] ranjitjhala commented on #268
Hi @DatenMetzgerX,

This is an excellent idea! I have been wanting to create such a tutorial for a while.

The main entry is in `Liquid.Fixpoint.Solver` which exports:

1. `solve` which solves a query given as an `FInfo` (defined in `Liquid.Fixpoint.Types`),
2. `solveFQ` which runs the `fixpoint` binary on a `.fq` file.

For now, I recommend you use the *second* option `solveFQ`. You can also just

[2016-10-17 06:09] DatenMetzgerX commented on #268
Thanks @ranjitjhala I will take a look on Wednesday. My writing will mostly be based on your excellent liquid types paper and your talk at Microsoft Research in July, 2008. My goal is to create something less formal then your liquid types paper that is easier to understand by non type system experts like me.

So if I understand this correct. wf stands for the Well Formedness Constraints. Bindings

[2016-10-20 05:50] DatenMetzgerX commented on #268
Hy Ranjit

Actually, I still have some further questions. Overall, I think I have a good understanding but as soon as I start with the implementation, the little details start to creep out..
To start, I want to shortly summarize the basics to ensure that I have no misunderstanding with these basic concepts.

**Symbols**
As I understand, there are two kind of symbols. At one hand, there are the sym

[2016-10-22 15:06] DatenMetzgerX commented on #268
Hy Ranjit

I think I'm a little bit further. I tried to analyze the max function:

[code]

The generated constraints are (without wf constraints)

[code]

The result is, as expected, safe. However, Liquid-Fixpiont doesn't give me any solutions for $k1. Why not?

[2016-10-25 22:13] ranjitjhala commented on #268
Hi (sorry for the delay!),

there are a couple of things.

1. You need to define "wellformedness" constraints that essentially define the "scope" of each `$k`, for example, you need something like:

[code]

2. Even after that you will get "SAFE" and no output, because the constraints are "trivially" safe, as there is no constraint with a "rhs" that is a predicate. Consequently, the system just com

[2016-10-25 22:14] ranjitjhala opened #269 "Reject queries with missing WF?"
@bmcfluff why do we *not* reject the following in  `tests/todo/baz.fq`

[code]

[2016-10-25 22:25] bmcfluff commented on #269
IIRC we agreed on this behavior after discovering that LH sometimes generated fq files with missing WFs. I can make LF reject and see if any LH tests break?

[2016-10-26 04:50] atondwal commented on #267
So this is problem not just in the student solutions, but also in the original skeleton code (https://github.com/ucsd-progsys/liquidhaskell-study/blob/master/wi15/List.lhs).

Anyways, seems like we should move this to liquidhaskell, as it's not a bug in fixpoint, rather, liquid haskell shouldn't give us ill-sorted fqs even without `--pruneunsorted`, right?

[2016-10-26 05:25] DatenMetzgerX commented on #268
This may actually help a lot. I never was sure for what the qualifiers are in liquid-fixpoint. So if I understand this correctly, there are no built in qualifiers Q. I need to define those myself. And instead of * (star) constraint, i can just define an arbitrary symbol, e.g. x, like it is done in the Cmp qualifier. So if I want to build up on your paper I can just define all qualifiers of Q.

[co

[2016-10-26 15:41] ranjitjhala commented on #269
sounds like a plan...

(but currently lower priority than PLDI related things -- table and proof)

On Tue, Oct 25, 2016 at 3:25 PM, bmcfluff <notifications@github.com> wrote:

[2016-10-26 16:04] ranjitjhala commented on #267
Yes, LH shouldn't. The fix, unfortunately is a bit of work so likely won't
happen soon...

On Tue, Oct 25, 2016 at 9:50 PM, Anish Tondwalkar <notifications@github.com>
wrote:

[2016-10-26 16:07] ranjitjhala commented on #268
That is correct! In the paper we write `*` but in the tool we just use
named parameters, so exactly as you say above. (`x` instead of `*`).

[2016-10-29 10:03] #267 closed

[2016-11-06 15:18] DatenMetzgerX commented on #268
Hy Ranjit

I'm actually making progress and was capable to create all needed constraints for

[code]

[code]

`$kres` = return value of the avgspeed function.`$klet` type of the let body.

If i run fixpoint against the given file I get the desired solution for `$ks` and `$kt`

[code]

However, I never get a type for `$klet` or `$kres`?

I also tried to solve the constraints by hand --- actually I

[2016-11-06 23:57] ranjitjhala commented on #268
Hi @DatenMetzgerX,

1. The reason that `$klet` and  `$kres` get "no solution" is that they are "sliced away" since they do not appear in *any* left-hand-side (actually, anywhere), consequently, you can pretty much assign them ANY refinement and it doesn't affect the solution.

2. Re: `avgspeed` since it is a function and as it does not appear in any solution (unless I missed something) you can "em

[2016-11-07 16:11] MichaReiser commented on #268
Ok thank you. Good that I got it write... Than only the other two questions about the embedding (when solving by hand) are still open

1. The embedding of `avgspeed:Fspeed |- {v:int | v = 2} <: {v:int | $kt}` is

[code]

where q is a qualifier that should be tested from `A($kt)`. Is the reason for throwing the qualifier `v<=s` away that `s` is not in the environment?

2. Testing the qualifiers for

[2016-11-23 09:49] MichaReiser commented on #268
Thanks Ranjit for your Feedback.

I think that I now understand the input format.

[2016-11-23 09:49] #268 closed

[2016-12-13 21:49] bmcfluff commented on #269
One source of orphaned kvars is `slice` - it removes all irrelevant constraints and wfcs but does _not_ remove the corresponding irrelevant kvars from any binders. So if we want to reject orphaned kvars, we should run that pass before slice and/or change slice to more thoroughly remove things.

[2016-12-20 00:44] ranjitjhala opened #274 "Reject malformed constraint with unbound KVar parameter"
see `tests/pos/bad-subst01.fq` (which passes with `--eliminate=some`).

The binder `zogbert` is junk and should not be in the WF of the KVAR as
it is NOT substituted away at the use sites.

See also LH `tests/pos/zipper.hs` which now (in `no-prop`) fails due to:

[code]

The binder `zcmp` is not in any environment, but appears in
substitutions `K[foo := zcmp]`. Such a substitution is bogus,
we sho

[2017-01-06 04:03] ranjitjhala commented on #274
Hmm pretty sure I fixed these...

[2017-01-06 04:04] ranjitjhala commented on #274
Should be fixed by PR #275

[2017-01-06 04:04] #274 closed

[2017-01-19 19:01] woehr opened #283 "Merge ghc8 branch"
Is there a reason the ghc8 branch hasn't been merged?

From what I can tell, it compiles fine on develop with ghc 7.10 and 8.0. I have noticed that the additional dependency on cereal-text wasn't added to the nix files and also that there is a warning that could be suppressed. I'd be happy to make a pull request for these minor issues.

[2017-01-19 22:40] ranjitjhala commented on #283
Hi @woehr --

I think the main reason is that:

1. An important "client" of `liquid-fixpoint` (`liquidhaskell`) is still a ways from being able
    to work with GHC 8, and,

2. Looks like that branch has gotten a bit stale (i.e. is well behind `develop`)

It would be _awesome_ if you could update the `ghc8` branch to be upto-date
with `develop` and make the above change so we can move `fixpoint` u

[2017-01-20 03:41] woehr commented on #283
Unbeknownst to me, GHC8 support was added a few days ago (and in a way that doesn't add the cereal-text) dependency. However I can't build using the stack 7.16 resolver because of the located-base dependency being out of date. It seems though that located-base isn't used, and removing it fixes the ghc8 build and doesn't cause 7.10.3 to break. @gridaphobe, since you did the ghc8 update, and located

[2017-01-20 06:54] gridaphobe commented on #283
What is the problem with located-base and GHC8? I thought I had pushed an update to hackage (0.1.1.0 IIRC).

[2017-01-20 14:08] woehr commented on #283
Liquid-fixpoint won't compile with stack+ghc8 because the located-base version hasn't been updated in stack.yaml.

But what I'm curious about is whether located-base is required since it doesn't seem to be used anywhere, and liquid-fixpoint will compile fine without it.

[2017-01-20 14:10] ranjitjhala commented on #283
If fixpoint compiles fine without it, lets just drop it!

(@gridaphobe, are we missing something here?)

On Fri, Jan 20, 2017 at 3:08 PM, Jordan Woehr <notifications@github.com>
wrote:

[2017-01-20 15:13] gridaphobe commented on #283
At one point we were using it to add callstacks to the error/panic calls. There are a bunch of functions in L.F.Misc that optionally use it (eg `safeZip`).

So I would rather update it to 0.1.1.0 (which compiles against 7.10 and 8.0) and add it back to the .cabal file.

[2017-01-21 14:55] #283 closed

[2017-03-06 15:42] gridaphobe opened #289 "elaborate crashes on 05-case-study-eval.lhs.fq"
On behalf of @ranjitjhala

elaborate crashes on:
rjhala@goto.ucsd.edu:~/public_html/05-case-study-eval.lhs.fq

Also link to ucsd-progsys/liquidhaskell#942

[2017-03-06 16:21] ranjitjhala commented on #289
Thanks, I can only interact with GH by mail... sigh.

On Mon, Mar 6, 2017 at 9:12 PM Eric Seidel <notifications@github.com> wrote:

[2017-03-08 11:58] ranjitjhala commented on #289
Fixed by #291

[2017-03-08 11:58] #289 closed

[2017-03-14 22:54] nikivazou opened #293 "Comparison of booleans"
Since fixpoint bool is SMT bool, we should not allow comparison of fixpoint bools.
That is [line 786 of SortCheck](https://github.com/ucsd-progsys/liquid-fixpoint/blob/develop/src/Language/Fixpoint/SortCheck.hs#L786) that now is

[code]

should turn into
[code]

But with this edit test https://github.com/ucsd-progsys/liquid-fixpoint/blob/develop/tests/pos/bool03.fq fails.
Can I just remove this te

[2017-03-15 07:20] ranjitjhala commented on #293
Actually I am (pleasantly) surprised that

 https://github.com/ucsd-progsys/liquid-fixpoint/blob/develo
p/tests/pos/bool03.fq

works. Can you explain why we should _disable_ it?

Specifically, I don't follow the reasoning that:

"Since fixpoint bool is SMT bool, we should not allow comparison of
fixpoint bools."

can you say more? what exactly is the problem you are trying to solve?

On Wed, Mar 1

[2017-03-15 15:04] nikivazou commented on #293
Well, I added the non-boolean check because I got an SMT expression `x:bool, y:bool, x < y` which was not well sorted.

But this .fq file turns out to be safe because the above expression is elaborated to `x:bool, y:bool, booltoInt x < boolToInt y`.

So, maybe there was a problem in elaboration.

[2017-03-19 21:02] alanz opened #296 "error in lit parser?"
The `litP` parser has a comment saying that it defines bit vector literals

[code]

But is uses a `sortP` for the value.

Should it use `bvSortP` instead? At https://github.com/ucsd-progsys/liquid-fixpoint/blob/develop/src/Language/Fixpoint/Parse.hs#L372

[2017-03-20 12:26] alanz opened #298 ""_|_" is parsed as 'POr'"
parsing `_|_` results in `POr []`, not the expected `EBot`

[2017-03-20 12:29] nikivazou commented on #298
Correct, because disjunction of an empty list is false.
Dually true us encoded as a conjunction of an empty list!

On Mar 20, 2017 8:26 AM, "Alan Zimmerman" <notifications@github.com> wrote:

[2017-03-20 12:29] alanz commented on #298
Hmm, perhaps it is a result of

[code]

[2017-03-20 12:32] alanz commented on #298
So maybe we should return `POr []` in the parser and do away with `EBot` completely?

[2017-03-20 12:46] ranjitjhala commented on #298
Why do we have this at all? why not just `False` ?

On Mon, Mar 20, 2017 at 5:32 AM, Alan Zimmerman <notifications@github.com>
wrote:

[2017-03-20 12:54] alanz commented on #298
FWIW, `_|_` does not appear in the test suites of either `liquidhaskell` or `liquid-fixpoint`.

[2017-03-20 13:50] nikivazou commented on #298
Well, all these `_|_`, `False` and `POr []` are semantically equivalent and all represented as `POr []` internally.

I have never writen `_|_` myself, should be there for historical reason (that are described in the original Liquid Types paper).

Ranjit, there is no `False` data constructor.

[2017-03-20 14:51] gridaphobe commented on #298
Looks like @nikivazou replaced the `PFalse` and `PTrue` constructors with the PatternSynonyms in 8eed3ca982a33bb4cafabbee95e23e9e04088958. I vaguely recall having some discussion about it around the time of the `Expr`/`Pred` merge, seems reasonable to me..

[2017-03-20 16:20] ranjitjhala commented on #298
What seems reasonable? Removing support for this?

On Mon, Mar 20, 2017 at 7:51 AM Eric Seidel <notifications@github.com>
wrote:

[2017-03-20 17:01] nikivazou commented on #298
Defining `False` as `POr []` is reasonable

[2017-03-28 17:25] woehr opened #302 "Using liquid-fixpoint as a library / documentation"
I'm using liquid-fixpoint as a library for a project of my own. So far I've managed with the published papers and looking at the source code, but I think I'm beginning to run into a wall in regards to documentation. I hope it's okay to ask a few questions here.

I've found #268 to be helpful, but unlike in that thread, I'm programmatically generating an FInfo, so I'm wondering what are the invaria

[2017-03-28 20:17] ranjitjhala commented on #302
Hi Jordan, sorry for delay -- am traveling will try to respond asap! Ranjit.

On Tue, Mar 28, 2017 at 10:25 AM Jordan Woehr <notifications@github.com>
wrote:

[2017-04-10 15:40] woehr commented on #302
Pinging @ranjitjhala

[2017-04-10 15:58] ranjitjhala commented on #302
Thanks for the ping! Am rushing out to lecture right now, will reply later
today for sure (else please ping!)

On Mon, Apr 10, 2017 at 8:40 AM, Jordan Woehr <notifications@github.com>
wrote:

--
- Ranjit.

[2017-04-11 17:28] woehr commented on #302
Re-pinging @ranjitjhala :)

[2017-04-11 20:36] ranjitjhala commented on #302
Hi @woehr, I just updated the README

https://github.com/ucsd-progsys/liquid-fixpoint#finfo-invariants

does this help?

Thanks!

[2017-04-20 21:56] woehr commented on #302
Thanks Ranjit,

This helps clarify a few things. Sorry for the slow response, I only got back to looking at this again today. Thanks for the notes on global and distinct literals, that helped a lot!

In the readme, I think where you said bindInfo you might have meant the following field?
[code]

The current problem I'm encountering is debugging incorrectly generated constraints; I have a simple ex

[2017-04-21 15:07] ranjitjhala commented on #302
Hi Jordan,

I may be able to help best,
if you can print the .fq file
corresponding to your constraints.

Since you are generating the
constraints, you can print them
with

    Language.Fixpoint.Types.Constraints.saveQuery

That way, I can try to run them myself
and explain what the solution is saying?

What do you think?

On Fri, Apr 21, 2017 at 3:26 AM, Jordan Woehr <notifications@github.com>
wr

[2017-04-21 15:22] woehr commented on #302
Sure. I didn't want to ask too much of you, but it's probably easier this way :)

The expression generating the fq is
[code]
[code]
[code]
[code]

[2017-04-21 15:59] ranjitjhala commented on #302
OK, so notice that you have two c

[code]

The reason that $k4 is true is that you have _two_ constraints where $k4
appears on
the RHS, namely `id 1` which is:

[code]

and

`id 6` (which is probably the one you "want").

Constraint 1 is basically saying:

  true => $k4(v)

Constraint 6 is saying

  (v = 1) => $k4(v)

Thanks to Constraint 1, any solution (lets call it S) for $k4
has to be "as weak

[2017-04-21 21:33] woehr commented on #302
Yes! This has helped me pinpoint my issue. I'm allowing (possibly refined) type annotations. In the absence of an annotation, the template ends up being a subtype of `{v:a | true}`. In the case of the lambda in my test case, `$k4 -> $k5 <: {v | true} -> {v | true}`. Looking at it like this, it's obvious that `$k4` must be true according to the function subtyping rules. So I guess the default case

[2017-04-25 14:32] #293 closed

[2017-04-30 00:12] woehr commented on #302
Hi Ranjit,

I hope you don't mind if I continue to ask things here. I have one question today. :)

What's the difference between an FTC and an FObj? There is a comment that says FObj's are uninterpretted types; so probably a type the SMT solver doesn't know about? Does that then make FTC types that the SMT solver does know about (bools, ints, lists, sets, etc.)?

[2017-04-30 04:10] ranjitjhala commented on #302
Good question! In early versions of fixpoint, there was
support for three sorts for expressions (`Expr`) that
were sent to the SMT solver:

1. `int`
2. `bool`
3. "other"

The `FObj` sort was introduced to represent essentially _all_
non-int and non-bool values (e.g. tuples, lists, trees, pointers...)

However, we later realized that it is valuable to keep _more_
precise information for `Expr`s and

[2017-04-30 15:44] woehr commented on #302
Thanks! This does help a lot.

Since it's related, I'd like to point out something that caught me off guard about the parsing of .fi files. Essentially, solveFQ and solve can produce different results when executed on the same FInfo. For example, the two:

[code]
[code]

will produce different results when the qualifiers in `fi` use FTC instead of FVar. In the case of solve, it seems the qualifier

[2017-05-01 03:32] ranjitjhala commented on #302
Hmm .. not sure I entirely follow. Can you give a concrete example so we
can reproduce?

On Sun, Apr 30, 2017 at 9:14 PM Jordan Woehr <notifications@github.com>
wrote:

[2017-05-01 15:16] woehr commented on #302
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2017-05-01 15:34] ranjitjhala commented on #302
Interesting. I think what's happening is this:

1. When you _programmatically_ build the FInfo, by giving the qualifier the sort:

[code]

the _type_ of the parameter is the FTYCON "a" (think of it as an uninterpreted type `a`).
This _does not_ match the `$k1` because

[code]

that is, the `VV` parameter for the `$k1` is an `int` which is different from `FTC a`.

2. However, when you save it and r

[2017-05-01 15:48] woehr commented on #302
Seems you are correct.

[code]
[code]
[code]
[code]
[code]

[2017-08-28 19:48] peti opened #321 "Test suite failure in liquid-fixpoint-0.7.0.1"
Previous versions used to work fine, but after updating to `liquid-fixpoint-0.7.0.1` we now get [test suite failures in NixOS](https://github.com/ucsd-progsys/liquidhaskell/issues/1038) that look pretty much exactly like those I reported several months ago in https://github.com/ucsd-progsys/liquidhaskell/issues/1038:

[code]

This feels really odd and I wonder why I spend my spare time debugging t

[2017-08-28 19:58] ranjitjhala commented on #321
Oops! Sorry about this! This looks like a consequence of adding circle
integration to fixpoint...(and not updating the test scripts suitably).

I will fix this (same issue as the earlier LH one) but yes, it's probably
best to disable the test suites for your builds.

Yes it's probably

On Mon, Aug 28, 2017 at 12:48 PM Peter Simons <notifications@github.com>
wrote:

[2017-08-28 23:26] #321 closed, assigned to nobody

[2017-08-28 23:46] ranjitjhala commented on #321
Hi @peti,

My apologies again! This is fixed in

 https://hackage.haskell.org/package/liquid-fixpoint-0.7.0.2

(running `make` on the tarball seems to do the right thing.)

However, probably best to disable tests because as in the LH
one, it often depends on other libraries/dependencies which
"work out of the box" with `stack` but which I'm not sure how
to incorporate when running with just `cabal

[2017-08-29 08:17] peti commented on #321
Why don't you run the test suite with cabal test on travis-ci to ensure that they work?

[2017-08-29 08:19] peti opened #323 "liquid-fixpoint-0.7.0.2 test suite broken"
The 0.7.2 update changed the test suite failures we see in Nix to the following (snippet):

[code]

A full build log is at https://hydra.nixos.org/build/59620897/nixlog/3.

[2017-08-29 12:04] gridaphobe commented on #321
We do run it on travis, but travis also has the git repository, so the error won't appear.

I guess we could have travis build a release tarball and then build/test from that.

[2017-08-29 12:36] peti commented on #321
The travis-ci generator from https://github.com/hvr/multi-ghc-travis does that automatically, btw. It runs the test suite from an sdist-generated tarball. This is a good idea in general to detect missing files etc.

[2017-08-29 13:07] gridaphobe commented on #321
Huh, I wasn't aware of that. Last I checked it only built the project, it didn't run the test suite.

Regardless, we should definitely do this, thanks for the reports!

[2017-08-29 16:43] ranjitjhala commented on #323
Hmm that's odd. Are those the only failing tests? (The log link is somehow
not rendering properly)

Is the build essentially doing the equivalent of the new makefile? Namely:

cabal sandbox init
cabal install --enable-tests -w $(GHC)
cabal configure -w $(GHC)
cabal test

On Tue, Aug 29, 2017 at 1:19 AM Peter Simons <notifications@github.com>
wrote:

[2017-08-29 16:48] ranjitjhala commented on #323
Also, if those are indeed the only test that are failing, then it could be
a problem with Z3. Can you let me know what version of the z3e you are
using?

On Tue, Aug 29, 2017 at 9:43 AM Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2017-08-30 20:05] atondwal commented on #323
This is really strange. I'm able to reproduce this on `goto` and on my machine. It has nothing to do with `z3`; all the tests are failing with error 127 when run with `tasty`, but when I run them by hand they pass:

[code]

(of course, when I run `stack test`, all the tests still pass...)

[2017-08-30 20:07] ranjitjhala commented on #323
Can you reproduce this problem just by running make? The tests need the
fixpoint Binary to be in the path...

On Wed, Aug 30, 2017 at 1:05 PM Anish Tondwalkar <notifications@github.com>
wrote:

[2017-08-30 20:15] atondwal commented on #323
Ah, I see, `cabal install` doesn't drop `fixpoint` into `dist/build/fixpoint`. Need to run `cabal build` for that.

`make` doesn't run the tests, and `make test` complains:
[code]

EDIT: oops, this was on a stale repo. running it again with the new Makefile still doesn't work:
Firstly, I have to run `cabal install --enable-test --only-dependencies` before, and even then, I have the following probl

[2017-08-30 20:35] atondwal commented on #323
@peti how is the nix expression you're using on hydra created? is it simply cabal2nix?

I can reproduce with
[code]

somehow we have to change the nix expression to run `cabal build` before `cabal test`, but I'm not sure how

[2017-08-31 00:06] ranjitjhala commented on #323
@atondwal -- you are not running the latest version on develop which _does_
run the tests:

  https://github.com/ucsd-progsys/liquid-fixpoint/blob/develop/Makefile
​

[2017-09-01 12:28] peti commented on #323
@atondwal, Nix *always* runs `build` before `test`.

[2017-09-14 17:28] #298 closed, assigned to nobody

[2017-09-14 17:40] atondwal commented on #147
We fixed this at some point an forgot to close this issue (or just didn't realized that we fixed it, perhaps due to the alanz new parser stuff). Closing.

[2017-09-14 17:40] #147 closed

[2017-09-14 17:45] atondwal opened #326 "Panic with ADTs"
[code]

using LH on file:
[code]

[2017-09-14 17:50] atondwal opened #327 "Parse ADTs in plaintext fq"
Currently the ADTs seem to only work with the `bfq` files. The `fq` pretty printer prints them, but we can't parse them. eg:

[code]
produces
[code]

[2017-09-14 18:44] ranjitjhala commented on #147
Whats the evidence that it was fixed btw? the above test works?

On Thu, Sep 14, 2017 at 10:40 AM, Anish Tondwalkar <notifications@github.com

[2017-09-14 18:46] ranjitjhala commented on #327
Yes, the whole .fq file thing is super broken.

the issue is not parsing the datatypes but that
`syms 0` and `fuel` etc.

Btw, @nikivazou -- why do we still have that fuel stuff?

Can we delete it please?

On Thu, Sep 14, 2017 at 10:50 AM, Anish Tondwalkar <notifications@github.com

[2017-09-14 19:07] atondwal commented on #327
Hmm, I thought I'd fixed that before the POPL deadline.

IIRC we still have two tests that use it. I can get rid of it.

[2017-09-14 21:03] ranjitjhala commented on #327
Please submit the .fq file that causes the problem (add it to `liquid-fixpoint/tests/todo/T327.fq`)

[2017-09-14 21:04] ranjitjhala commented on #326
Same issue as https://github.com/ucsd-progsys/liquidhaskell/issues/1086
i.e. lack of alias expansion
and happily fixed by https://github.com/ucsd-progsys/liquidhaskell/pull/1087

[2017-09-14 21:05] ranjitjhala commented on #302
Closing for now, ok @woehr ?

[2017-09-14 21:05] #302 closed, assigned to nobody

[2017-09-14 21:06] ranjitjhala commented on #296
Oops don't know how this slipped through the crack. Is it still a valid issue @alanz ?

[2017-09-14 21:11] alanz commented on #296
The code is unchanged from before, now at https://github.com/ucsd-progsys/liquid-fixpoint/blob/develop/src/Language/Fixpoint/Parse.hs#L476

If it is supposed to be able to parse the example in the comment, then it is still an issue. It was never completely clear to me what the intention of the parser was. So either the documentation needs to be updated, or the parser.

[2017-09-14 23:33] woehr commented on #302
Yes, thank you for your help thus far! I'm sure I'll have more question soon. :)

[2017-09-14 23:37] ranjitjhala commented on #302
Cool feel free to reopen then (or a new one if you prefer!)

On Thu, Sep 14, 2017 at 4:33 PM Jordan Woehr <notifications@github.com>
wrote:

[2017-09-15 00:27] atondwal commented on #147
Yes, the above test now passes

[2017-09-16 16:21] atondwal commented on #326
This isn't actually completely fixed; it goes away after we turn off instantiation, but the file above, as written, (with instantiation on) still exposes the bug

[2017-09-16 16:57] ranjitjhala commented on #326
Ok I think it's a good idea for you to try to fix this one yourself (to
familiarize yourself with the code). The issue is that we need to know all
the monomorphic sorts at which polymorphic functions are instantiate she.
look for the function called apply sorts in fixed point and then follow the
links forwards and backwards from there. Let me know if you get stuck?

On Sat, Sep 16, 2017 at 9:23 AM

[2017-09-19 10:50] atondwal commented on #296
We don't actually have any BitVector tests, do we?

[2017-09-19 10:59] atondwal commented on #327
Ah, so this is a "parser bug" in the sense that the parser isn't inverse to the printer, but there's an established format for the `data` decls that is informally specified in the LF tests in fqs (whereas there are no printer tests), so we should consider the REAL bug that the printer doesn't print the right thing.

[2017-09-19 11:41] atondwal opened #332 "instantiate: incompatible sorts"
Moving ucsd-progsys/liquidhaskell#1090 here. The gist of the issue is that when we instantiate, we "uncover" calls that need functions that haven't been monomorphized at that, so we need to monomophize "as we go".

See `tests/todo/1090.fq` and `[TODO]: dynamic-apply-declaration`

[2017-09-19 14:35] ranjitjhala commented on #296
Pretty sure we do...

On Tue, Sep 19, 2017 at 3:50 AM Anish Tondwalkar <notifications@github.com>
wrote:

[2017-09-19 14:39] ranjitjhala commented on #332
Great can you confirm that this test fails when invoked directly with
fixpoint?

On Tue, Sep 19, 2017 at 4:41 AM Anish Tondwalkar <notifications@github.com>
wrote:

[2017-09-19 17:02] atondwal commented on #332
I can

[2017-09-19 17:07] #327 closed, assigned to nobody

[2017-09-19 19:57] atondwal commented on #332
Wow, this is strange! This test hits that bug with `Z3 version 4.5.0 - 64 bit`, `Z3 version 4.4.2`, but *not* `Z3 version 4.4.1` --- so triggers the bug on my machine, on goto, but *not* on circle!

[2017-09-19 20:11] atondwal commented on #332
I wonder if this is a fluke, or if I should file a bug/regression with `z3`?

[2017-09-19 21:43] ranjitjhala commented on #332
The Z3 folks know about this issue already, see:

https://github.com/Z3Prover/z3/issues/1186#issuecomment-319448921

Nikolaj says the annotation mechanism is ad-hoc
(i.e. presumably changes across versions) and
that one should not rely upon it.

So instead annotate all the uses of polymorphic
data constructors.

On Tue, Sep 19, 2017 at 1:11 PM, Anish Tondwalkar <notifications@github.com>
wrote:

[2017-09-27 10:20] atondwal commented on #323
Hmm this seems to be related to nix permissions somehow?

[code]

[2017-10-04 06:31] #332 closed, assigned to nobody

[2017-10-05 02:44] ranjitjhala opened #335 "Elaborate needs to be rewritten"
In brief see `tests/todo/adt_pair_cast.fq` included below:

[code]

the elaborate says that `P` above is instantiated with `int` and `@(44)` i.e. a type-var,
instead of the actual `bool`. This causes problems with SMTLIB as the bogus "dangling"
`@(44)` which really should be `bool` -- but is instantiated "later" gets converted to an
`int` which gives a sort error in the SMTLIB formula.

[2017-10-05 21:49] ranjitjhala opened #336 "Partially applied sorts"
With ADTs the below fails because SMT does not like "partially applied" sorts;

[code]

[2017-10-05 23:28] #336 closed, assigned to ranjitjhala

[2017-10-07 09:27] peti opened #339 "liquid-fixpoint-0.7.0.3 build fails during Haddock phase"
This happens with GHC 8.0.2:

[code]

[2017-10-07 12:09] ranjitjhala commented on #339
@nikivazou apologies for introducing the above! -- can you resubmit to hackage please? I guess we really should do a `stack haddock` before pushing to hackage...  my bad!

[2017-10-07 12:28] ranjitjhala commented on #339
@nikivazou I have also bumped the LF and LH versions and edited the .cabal files (did I do it right?)

[2017-10-07 12:38] ranjitjhala commented on #339
I think I've fixed the issue, and pushed a new version of LF to Hackage.

[I cannot seem to push LH though; getting some strange error:

[code]

@gridaphobe or @nikivazou any idea what the above is?

[2017-10-07 16:07] gridaphobe commented on #339
@ranjitjhala I would recommend adding a `stack haddock` to the circle script, probably after this line

https://github.com/ucsd-progsys/liquid-fixpoint/blob/develop/circle.yml#L38

(and similarly for LH). It's irritating how haskell comments and guards combine to cause these issues, but c'est la vie..

For the hackage upload issue, we probably need to add `devel/Paths_liquidhaskell.hs` to the `ext

[2017-10-07 16:44] ranjitjhala commented on #339
Hi @gridaphobe thanks that makes sense! But Paths_liquidhaskell was auto
generated right? Why should it need to be part of the cabal package?

On Sat, Oct 7, 2017 at 9:08 AM Eric Seidel <notifications@github.com> wrote:

[2017-10-07 17:00] gridaphobe commented on #339
I added the `devel/Paths_liquidhaskell.hs` (and the associated `include`
flag) a long time ago to make it easier to develop LH. It overrides the
autogenerated file to tell LH to look in the current directory for the
.spec files, so you don't need to `stack build` each time you make an
edit to them. It needs to be part of the cabal package in order for it
to override the autogenerated Paths module,

[2017-10-09 18:05] ranjitjhala commented on #339
Just pushed a new version to hackage that hopefully fixes this.

[2017-10-12 07:55] peti commented on #339
liquid-fixpoint-0.7.0.5 compiles fine. Thank you very much!

[2017-10-12 07:55] #339 closed, assigned to nobody

[2017-10-24 09:07] #335 closed, assigned to ranjitjhala

[2017-10-24 13:01] ranjitjhala commented on #326
Wondering if this was related to #335? @atondwal Can you check if it has been fixed by recent changes?

[2017-10-24 22:49] atondwal commented on #326
Hmm... seems that this is hitting something else now.

[code]

[2018-04-03 00:34] ranjitjhala opened #359 "Substitutions over literals being dropped?"
via @rkici

The following is marked as UNSAFE, perhaps because the substitutions `[... := 0]` are being silently ignored?

[code]

At the very least we should grumble about that substitution instead of quietly dropping...

[2018-05-14 18:03] ranjitjhala opened #364 "Eliminate crashes with ebinds"
The below crashes with `subst: EXISTS (without disjoint binds)"`

[code]

[2018-05-14 20:28] atondwal commented on #364
Here's an acyclic version:

`[ebind-kvar-chain.fq]`
[code]

[2018-05-16 04:19] ranjitjhala opened #365 "Mutually Recursive ADTs"
The following crashes fixpoint because we don't define mutually recursive datatypes properly, per`declare-datatypes` properly per the SMTLIB standard, e.g. as [described here](https://rise4fun.com/z3/tutorialcontent/guide)

[code]

[2018-05-16 17:53] #365 closed, assigned to ranjitjhala

[2018-06-04 01:12] atondwal opened #370 "Incorrect solution with duplicate binders"
Deleting binder 30 (unused) from the following makes it safe:
[code]

Is this an LH bug for generating two binders with the same name, or a fixpoint bug, for not correctly handling them?

[2018-06-04 04:01] ranjitjhala commented on #370
This is odd. It’s fine to generate different binders with the same name.
What are the exact two fq files and what command line arguments are you
passing?

On Sun, Jun 3, 2018 at 6:13 PM Anish Tondwalkar <notifications@github.com>
wrote:

[2018-06-04 11:05] atondwal commented on #370
fq file above:
[code]
Removing the binder:
[code]

So what seems to be going on is that we're existentially quantifying over binder 30, which has the same name ` i##aRl ` as binder 17, so it's capturing the other binder.

[2018-06-04 13:58] ranjitjhala commented on #370
Your explanation would make sense except that 30 is nowhere to be found in
the constraints so why should it quantify over it? (Still it could very
well be exactly what’s going on.)

On Mon, Jun 4, 2018 at 4:05 AM Anish Tondwalkar <notifications@github.com>
wrote:

[2018-06-06 12:10] atondwal commented on #370
Ah, found it! It's at line 212 of Solution.hs!
[code]

I just pushed a fix

[2018-06-06 14:33] ranjitjhala commented on #370
Aha yes this sounds like it; wonder what the fix is ...

On Wed, Jun 6, 2018 at 5:10 AM Anish Tondwalkar <notifications@github.com>
wrote:

[2018-06-06 22:21] atondwal commented on #370
I just keep track of the constraints `IBindEnv`, and check that the binder is in the context of the constraint before quantifying over it.

https://github.com/ucsd-progsys/liquid-fixpoint/commit/0d5c9f91bb3af1c0d46bf57a5a1692906e2143f2#diff-6b787681bc0da95de18d915d6e2631d6R232

[2018-06-06 22:48] ranjitjhala commented on #370
That makes sense! Do the tests pass?

On Wed, Jun 6, 2018 at 3:22 PM Anish Tondwalkar <notifications@github.com>
wrote:

[2018-06-06 22:50] atondwal commented on #370
All of the tests pass with this fixpoint PR.

[2018-06-06 22:53] ranjitjhala commented on #370
The LH tests too?

On Wed, Jun 6, 2018 at 3:50 PM Anish Tondwalkar <notifications@github.com>
wrote:

[2018-06-06 22:54] ranjitjhala commented on #370
If so please merge!

On Wed, Jun 6, 2018 at 3:53 PM Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2018-06-07 02:23] #370 closed, assigned to nobody

[2018-06-07 02:25] atondwal commented on #364
This is fixed by PR #369

[2018-06-07 02:25] #364 closed, assigned to nobody

[2018-06-08 11:09] lucaciciriello opened #371 "GHC 8.4.2 broken building"
With the new version of GHC (8.4.2) we got the following error:

src/Language/Fixpoint/Misc.hs:291:28: error:
    Ambiguous occurrence ‘<>’
    It could refer to either ‘Text.PrettyPrint.HughesPJ.<>’,
                             imported from ‘Text.PrettyPrint.HughesPJ’ at src/Language/Fixpoint/Misc.hs:34:1-64
                          or ‘Prelude.<>’,
                             imported from ‘

[2018-12-16 18:46] mhwombat commented on #371
I'm getting the same error with GHC 8.4.4.

[2018-12-16 19:55] ranjitjhala commented on #371
Very odd thanks for pointing out, will take a look ASAP!

On Sun, Dec 16, 2018 at 10:46 AM Amy de Buitléir <notifications@github.com>
wrote:

[2018-12-17 01:31] mhwombat commented on #371
Sorry, I should have clarified that it's the version on Hackage (liquid-fixpoint-0.7.0.7) that causes this compilation error.

The latest version here on GitHub builds just fine with LTS Haskell 12.23 (ghc-8.4.4).

[2018-12-17 02:13] mhwombat commented on #371
Is this version ready to release to Hackage?

FYI, I opened an [issue](https://github.com/NixOS/nixpkgs/issues/52418) on Nixpkgs about this.

[2018-12-17 04:30] ranjitjhala commented on #371
Oh, in that case would it suffice to update the version on hackage [which is anyways due...]

[2018-12-19 19:41] ranjitjhala opened #383 "Incompleteness in PLE due to ordering of normalization"
The following fails currently due to "evaluation order" used by the current PLE implementation (should instead use a proper fixpoint as described in the paper...)

[code]

[2019-02-07 21:38] ranjitjhala opened #387 "PLE divergence"
Minimized version of liquidhaskell/#1371

The following query causes PLE to diverge `tests/proof/ple4.fq`

[code]

The culprit is the following line that runs `eval` under a branch, triggering an infinite loop for the above (as the first branch always succeeds.)

https://github.com/ucsd-progsys/liquid-fixpoint/blob/develop/src/Language/Fixpoint/Solver/Instantiate.hs#L548-L551

The real problem her

[2019-02-07 21:51] atondwal commented on #387
shouldn't this code be:
[code]

edit: oops silly me, didn't see the cases above

[2019-02-07 21:55] ranjitjhala commented on #387
in this case we (due to previous patterns not shown) we know that both `thenTaken` and `elseTaken` are `False`.

So really you might think it should be `pure (EIte b e1 e2)`.

However, I'm not sure what invariants that may break as some
later facts may allow you to deduce that in fact, some particular
guard holds so you _can_ unfold under it...

[2019-02-10 00:06] #383 closed, assigned to ranjitjhala

[2019-04-30 10:39] nikivazou opened #395 "SMTLIB2 Interface not alive"
The following in the README does not seem to exist anymore, should we delete it
https://github.com/ucsd-progsys/liquid-fixpoint#smtlib2-interface ?

@gridaphobe

[2019-08-25 13:12] JakobBruenker commented on #371
Hi, @ranjitjhala any update on this? It looks like the version on hackage is still 0.7.0.7

[2019-08-26 16:40] ranjitjhala commented on #371
Sorry, was on vacation and just got back will look into this ASAP!

On Sun, Aug 25, 2019 at 6:12 AM Jakob Brünker <notifications@github.com>
wrote:

[2019-10-06 22:45] BillHallahan opened #409 "Hackage release 8.0.2 needs stronger bounds"
The version of this package on Hackage:
[http://hackage.haskell.org/package/liquid-fixpoint-0.8.0.2](http://hackage.haskell.org/package/liquid-fixpoint-0.8.0.2)
says that it requires base be in the range `>=4.9.1.0 && <5`.  However, version 8.0.2 relies on Semigroup being part of base, so the dependency should actually be `>=4.11.0.0 && <5` (notice the different lower bound).

This can be fixed by

[2019-10-07 07:00] nikivazou commented on #409
Should be fixed now! Thanks!

[2019-10-07 15:52] BillHallahan commented on #409
Thanks!

[2019-10-07 15:52] #409 closed, assigned to nobody

[2020-10-06 14:28] serras opened #448 "Understanding Horn solver"
Hi, I don't know if this is the best way to ask for help with `liquid-fixpoint`, but here it goes. I'm working on a tool based on the "Local refinement typing" paper which has spit the following `.smt2` file:

[code]

I would expect it to give me back information that `$k1` should be somehow `\x -> x > 0`. However, to my surprise, the Horn Uniq and Horn Elimination phases leave me with an empty co

[2020-10-06 15:55] ranjitjhala commented on #448
Sure, this is a good place. The LH slack would be another option if you like, but this is great!

Can you add the line

[code]

to the file and see what happens?

[2020-10-08 16:35] serras commented on #448
It seems that if I change the first line to `eliminate=existentials`, it does what I want.

This raises two more questions:
- from what I understand, the original answer was right, in that making `$k1 x` to be constantly false is also a solution. As I understand, the "Local refinement typing" paper actually uses this fact.
- however, the other solver seems to work differently. Is that solver docum

[2020-10-08 18:43] ranjitjhala commented on #448
@serras  -- hmm, not sure why the `eliminate=existentials` does the right thing (@atondwal or @mkolosick do you know?)

(that feature is _very_ new and not super well documented ...)

but can you say what it does - as in, what output are you looking for?

(btw, are you using the API or the command line? If the former then I can easily replicate.)

With your constraint at the top, what is happening

[2020-10-15 13:18] serras commented on #448
@ranjitjhala your description totally makes sense. I am slowly understanding how the solver works, and indeed solving things to false without any further condition makes complete sense!

[2020-10-15 13:18] #448 closed, assigned to nobody

[2020-10-15 13:36] ranjitjhala commented on #448
Btw, after chatting with @atondwal I realized that indeed it's the "false"
thing that's going on.

But the "existentials" mode has to be more careful about setting things to
false, and hence, doesn't
in this example. (There is a new paper that describes it that is still
under submission...)

On Thu, Oct 15, 2020 at 6:18 AM Alejandro Serrano <notifications@github.com>
wrote:

[2020-10-15 15:01] serras opened #450 "--eliminate=existentials acts weirdly"
I've found this weird case. The following is considered safe:

[code]

but if I change `x == 0` to `x >= 0`, then I get unsafe as result.

[2020-10-15 15:49] ranjitjhala commented on #450
The “exists” variables are super new and a bit brittle - they are sensitive
to equalities.

I’d strongly suggest not using it and sticking to the plain “for all”
constraints.

On Thu, Oct 15, 2020 at 8:01 AM Alejandro Serrano <notifications@github.com>
wrote:

[2020-10-15 18:39] ranjitjhala opened #451 "Support Command-Line Features"
For using outside Haskell (cc @nilehmann)

- [x] quiet mode       `--quiet`
- [x] read from stdin  `--stdin`
- [x] write json       `--json`
- [ ] tag

## Priorities

1. read inputs from `stdin`
2. write outputs to `stdout`
3. write json
4. tag

## READ Inputs from stdin

[code]

## WRITE Output in JSON format

* `-q`  ONLY outputs SAFE/UNSAFE (n-constraints checked)

* `-json` ONLY outputs JSON

[2020-10-17 18:52] ranjitjhala commented on #451
See progress in the `cli` branch.

[2020-10-20 00:04] #451 closed, assigned to nobody

[2021-01-29 21:10] ranjitjhala opened #464 "Add PLE-function-profiler"
For each tree-node, lets track a map: `Function -> Nat` which counts the number of times a function `f` has been "expanded" by PLE at that node.

Useful for "profiling" PLE.

Can also then set a "cut-off" `k` and DISABLE unrolling if we have already unfolded more than `k` times.

[2021-02-16 09:32] #450 closed, assigned to nobody

[2021-03-11 13:12] mimi1vx opened #467 "build fail with ghc-9.0.1"
[code]

[2021-03-11 14:52] ranjitjhala commented on #467
Wow! Are you using it as a  plugin or building liquid-fixpoint separately?
In the latter case can you let us know how you’re building?

On Thu, Mar 11, 2021 at 5:13 AM Ondřej Súkup ***@***.***>
wrote:

[2021-03-12 09:04] mimi1vx commented on #467
building separately -> full log https://build.opensuse.org/package/live_build_log/devel:languages:haskell:ghc-9.0.x/ghc-liquid-fixpoint/openSUSE_Tumbleweed/x86_64

[2021-03-23 14:33] mimi1vx commented on #467
@ranjitjhala  see https://github.com/ghc-proposals/ghc-proposals/blob/master/proposals/0176-scc-parsing.rst

[2021-03-23 14:35] ranjitjhala commented on #467
Oops thanks for bumping this I will fix it today!

On Tue, Mar 23, 2021 at 7:34 AM Ondřej Súkup ***@***.***>
wrote:

[2021-03-23 15:27] ranjitjhala commented on #467
This _should_ be fixed in the latest `develop` branch -- can you let me
know? Thanks!

On Tue, Mar 23, 2021 at 7:35 AM Ranjit Jhala ***@***.***> wrote:

[2021-05-09 12:22] mimi1vx commented on #467
sorry for late reply, develop branch build on my system fine , please release new version on hackage :D

[2021-05-11 09:46] nikivazou opened #469 "Polymorphic constants crash Z3"
Consider a polymorphic constant: `constant poly: func(1, [A @(0)])`.
In Z3 we will encode it monomorphised, i.e., `declare-fun poly () (A Int)`. So, once we use it as `A B`, e.g., in `{VV : A B | [ VV = poly ] }` Z3 crashes with sort mismatch.

Is there a known way to address this problem (@ranjitjhala) ?
The full `.fq` file is below.

[code]

[2021-07-16 20:22] facundominguez opened #475 "PLE diverges if boolean definitions are simplified"
In order to reproduce, edit `pleBoolC.fq` as follows
[code]
Then run
[code]

The expected outcome is that PLE succeeds, however the current behavior is that it never terminates.

This was first identified in #473 when implementing some simplifications on boolean conditions.

[2021-08-06 23:48] ranjitjhala commented on #469
This _should_ get fixed in the same way we handle this test

* https://github.com/ucsd-progsys/liquid-fixpoint/blob/develop/tests/pos/undef00.fq
* https://github.com/ucsd-progsys/liquid-fixpoint/blob/develop/tests/pos/undef01.fq

but for some reason is not ...

[2021-08-18 14:48] facundominguez opened #482 "Optimize interaction with the SMT solver"
AmericanFlag.hs takes near 20 seconds to verify, while `z3 AmericanFlag.hs.smt2` takes only 2 seconds. It turns out most of the time is spent in `Language.Fixpoint.Smt.Interface.command` which is called 280000 times! Each invocation takes near 50 microseconds, which I conjecture is going to be difficult to speed up.

Maybe SMT solvers can be linked as libraries to cut on that, or maybe it would be

[2021-08-18 18:05] facundominguez commented on #482
Found a couple of solver-agnostic apis:
https://github.com/makaimann/smt-switch
https://github.com/sosy-lab/java-smt (calling the jvm from Haskell is a bit slow though).

[2021-08-19 00:03] facundominguez commented on #482
There's also the chance that after studying the example we might find a way to verify it with less calls to the smt solver.

I tried [some batching](https://github.com/ucsd-progsys/liquid-fixpoint/compare/develop...facundominguez:fd/batching) that removed some `hFlush` calls on the pipe to the smt solver. This produced a speed up (70% of the original time), but apparently we need a different solut

[2021-08-20 15:20] ranjitjhala commented on #482
Hi @facundominguez -- sorry for not replying, have been thinking this over. The data about `AmericanFlag` is very interesting -- I didn't realize we get a 50 ms hit _per_ call -- if my math is right, thats `280000 * 50 / 1000000 = 14s` (!) just spent in the interface? Does the 50ms include the serialization time? Or is it _only_ the invocation?

The batching sounds very promising! The catch in gen

[2021-08-20 16:13] facundominguez commented on #482
Yes, it does include serialization.

AmericanFlag overall goes from 18 seconds to 14 seconds. The time spent in the `command` function goes down to 10 seconds.

Perhaps LF could log just the same with a modest amount of work.

The main drawbacks of batching are:
1) It is limited to the cases that don't need intermediate results to influence subsequent queries
2) It really makes the code harder to

[2021-08-22 14:36] facundominguez opened #483 "inlining anf bindings messes sorts"
Consider the following bindings
[code]
LF accepts them fine as they are. But if we inline, we get
[code]
And LF says
[code]
Apparently, `len` can only be applied to expressions of sort `a b` like `[Char]`, and `strLen` can only be applied to expressions of sort `Str`.

I don't understand the meaning of the `~~` equality, and probably that is playing a role here.

What result of inlining would you

[2021-08-23 20:08] facundominguez commented on #483
I think I got it working by having inlining produce instead:
[code]
and from that
[code]

[2021-08-25 16:15] facundominguez opened #484 "Disclose the value of non-cut KVars"
When a subtyping constraint is rejected, sometimes it involves KVars. Like in
[code]

If the KVars are not eliminated by local refinement typing, they will end up in the .fqout files. However, if they are eliminated, they won't appear anywhere. And the user is left on her own to predict what the kvars are instantiated to.

Here's an example of what `$k_##2417` gets resolved to, and it looks like t

[2021-08-25 22:34] ranjitjhala commented on #484
Dear @facundominguez — sorry for the delay am on vacation with family this week— yes this would be EXCELLENT to have imo! Ranjit

[2021-08-26 00:28] facundominguez commented on #484
Enjoy your vacations!

[2021-08-30 19:04] #484 closed, assigned to nobody

[2021-09-02 15:35] #483 closed, assigned to nobody

[2021-09-02 17:41] facundominguez opened #489 "Unfold measures when using PLE"
It will take some debugging to figure out why this workaround was needed in liquidhaskell:
https://github.com/ucsd-progsys/liquidhaskell/pull/1874

I'm guessing that liquid-fixpoint should unfold measures with PLE, but please comment if we should consider other alternatives.

[2021-09-08 12:00] facundominguez commented on #482
Here's a flamegraph. While some overhead can be attributed to the synchronization between processes it also shows that there are quite a few other areas to improve. It was created with SCCs for all top-level functions in `liquid-fixpoint`.
[americanflag.svg.zip](https://github.com/ucsd-progsys/liquid-fixpoint/files/7128627/americanflag.svg.zip)

[2021-09-12 13:08] facundominguez commented on #482
[Here's](https://github.com/ucsd-progsys/liquid-fixpoint/files/7149598/americanflag2.svg.zip) the flamegraph after the improvements of #492.

[2021-09-21 16:16] facundominguez commented on #482
With #493, the time of AmericanFlag is near 9 seconds.

liquid-fixpoint spends 7 seconds. From here, I'm finding it difficult to bring it down.

* The SMT solver spends near 2.5 seconds.
* The SMT interactions are near 1 second.
* HashMap lookups take near 1.5 seconds.
* Environment reduction spends 1 second and it does improve performance still.
* Elaboration, unification and other expression man

[2021-09-21 16:55] ranjitjhala commented on #482
Wow. Can you remind me where it started? 17-20s?

On Tue, Sep 21, 2021 at 9:16 AM Facundo Domínguez ***@***.***>
wrote:

[2021-09-21 17:10] facundominguez commented on #482
#480 brought AmericanFlag from 28 to 14 seconds. #473 to 13 seconds. I think #492 and #493 are bringing it from there to 9 seconds.

[2021-09-25 14:03] facundominguez commented on #482
I dived some more into the FFI path, and its looking laborious. smt-switch doesn't support parametric datatypes, apparently, and neither there is good documentation on the z3 bindings to define them. Add to that the modest improvement, and the hassle to mantain the FFI interface, and it doesn't look so attractive anymore.

There is a new hope though. I found that removing logical qualifiers from A

[2021-09-25 14:37] ranjitjhala commented on #482
Wow that is remarkable! Am very surprised that just those two make such
a difference!

They don’t look particularly special though. Do you know how the total
number of iterations or z3 queries changes when those are removed?

On Sat, Sep 25, 2021 at 7:03 AM Facundo Domínguez ***@***.***>
wrote:

[2021-09-25 14:38] ranjitjhala commented on #482
Those last two bits of information are in the “solverstats” - I wonder how
that changes. Also i presume the result (safe/unsafe) is unchanged by the
qualifier removal?

On Sat, Sep 25, 2021 at 7:37 AM Ranjit Jhala ***@***.***> wrote:

[2021-09-25 17:48] facundominguez commented on #482
The result is unchanged when eliminating those qualifiers.

These are the stats with no modifications
[code]
These are the stats with the two qualifiers removed:
[code]
And these are the stats with as many qualifiers as I could remove without getting unsafe constraints (near 100 qualifiers survived):
[code]
The runtime decreases linearly with the amount of queries at 1 second every 10000 queries.

[2021-09-25 18:57] ranjitjhala commented on #482
Wow so those two irrelevant qualifiers are responsible for nearly 25K SMT queries!

[2021-09-26 01:12] facundominguez commented on #482
Will the second parameter of the qualifier  `x : e##xo` be substituted with values of any sort? This could perhaps explain a long list of qualifiers created by replacing `x` with various local values that then need to be discarded by calling to the SMT.

[2021-09-26 01:27] ranjitjhala commented on #482
Yes that makes sense! I wonder what the source line is from where the
qualifier has been obtained.

On Sat, Sep 25, 2021 at 6:12 PM Facundo Domínguez ***@***.***>
wrote:

[2021-09-26 11:51] facundominguez commented on #482
They originate from the specification of typeclass methods.

[code]
https://github.com/ucsd-progsys/liquidhaskell/blob/cecfe71415014456391e8c2d5d7c4f912ebd4458/benchmarks/vector-algorithms-0.5.4.2/Data/Vector/Algorithms/AmericanFlag.hs#L70-L72

[2021-09-26 16:38] ranjitjhala commented on #482
Interesting, so because fixpoint’s sort system doesn’t know anything about
the class constraints, we end up instantiating these qualifiers for ALL
types which then leads to these problems. Good find! Will have to think
about how to convey this “class constraint” information to fixpoint…

On Sun, Sep 26, 2021 at 4:51 AM Facundo Domínguez ***@***.***>
wrote:

[2021-09-26 16:41] ranjitjhala commented on #482
Oddly though those two qualifiers seem to come from somewhere else: as they
respectively check if lexSize equals or is greater than 0?

On Sun, Sep 26, 2021 at 9:37 AM Ranjit Jhala ***@***.***> wrote:

[2021-09-26 19:31] ranjitjhala commented on #482
Here's an idea that may address this problem without requiring any support for typeclasses/constraints in fixpoint:

restrict measures (e.g. `lexSize`) ONLY to the set of monomorphic sorts that they are already appear at in the _rest_ of the constraints.

Right now the sort for `lexSize` is `forall a. a -> int` which is causing this blowup.

Instead, walk over the constraints -- *after elaboration

[2021-09-27 19:29] facundominguez commented on #482
Aren't the comparisons made with `VV##0` rather than `0`? I'm failing to notice why they should come from elsewhere.

Worth considering. I'll try removing only the qualifiers that have unconstraint parameters and see how that goes.

[2021-09-27 20:41] ranjitjhala commented on #482
Oops my apologies, you are correct!

[2021-09-28 01:07] facundominguez commented on #482
Removing only the qualifiers with unrestricted parameters, gives
[code]
Which isn't too bad.

My great discovery today was `--minimizeqs` which yields the following 10 qualifiers
[code]
with these, verification takes only 1 second in LF! (if I don't take into account the parsing overhead which I've been ignoring all along)

Which sends me into thinking if there could be a practical way to cache th

[2021-09-30 19:13] facundominguez opened #494 "Serialize formulas only once"
Currently, when we try to validate a constraint, we send to the SMT solver all the formulas in the environment and the right-hand-side of the constraint.

The problem is that many bindings in the environments of constraints are shared. So whenever multiple constraints are validated, all the shared bindings are serialized over and over, and serialization is relatively expensive. This is an importan

[2021-10-01 15:51] ranjitjhala commented on #494
Hi @facundominguez  -- I have *long* wanted to try something like (2), I think its an excellent thing to try. I was somehow under the impression that we were _already_ doing (1) but maybe that's just wishful thinking on my part -- I agree, given how much time is spent in serialize* this would be great to try!

* I need to double check but I seem to recall a _significant_ chunk of time in `fixpoint

[2021-10-01 17:18] facundominguez commented on #494
Here's a flamegraph for verifying [Step.hs.bfq](https://github.com/facundominguez/stitch-lh/blob/main/src/Language/Stitch/LH/Step.hs) from StitchLH. It currently takes near 20 seconds to verify.
[fixpoint.svg.zip](https://github.com/ucsd-progsys/liquid-fixpoint/files/7268992/fixpoint.svg.zip)

The serialization time reaches to a bit over 40% of the total.

[2021-10-01 19:24] ranjitjhala commented on #494
Btw, does the `Step.hs` file use `reflection` and `ple`?

[2021-10-01 19:46] facundominguez commented on #494
I edited the previous message to include the link to the file. Yes, it does use ple and some of the imported functions are reflected.

[2021-10-01 21:13] ranjitjhala commented on #494
Super @michaelborkowski when you get a chance can you check if your interpreter-ple does better on this benchmark?

[2021-10-06 01:20] facundominguez commented on #494
The description of #495 says:

I'm going to defer on these until I find a benchmark where fixing those makes a bigger difference. In the Step.hs module we can't shave more than 3% or 4%.

[2021-10-06 01:20] #494 closed, assigned to nobody

[2021-10-07 01:34] facundominguez opened #496 "PLE produces incorrect equalities"
Verification of the following example succeeds when constraints 1 and 3 are actually unsafe.
[code]
Verify with
[code]
I modified liquid-fixpoint to print the assignments of discovered equations to bindings as shown above.

I think the problem is that different constraints produce different equations for binding 4, and they all compete to assign their equations to the same binding in the output of

[2021-10-07 02:34] ranjitjhala commented on #496
I was first alarmed but then recalled this violates the “tree-like”
precondition on the binders. I *think* I wrote the property down somewhere
let me look for it. In essence the binder numbers are important:

If two constraints both have binders i and j they have the same set of
binders between i and j.

This invariant let’s us build a “trie” from the constraints where the
binders are in increasin

[2021-10-07 12:13] facundominguez commented on #496
Ah, in that case, the current situation is still problematic.
1. The software or human interacting with liquid-fixpoint gets no feedback that the invariant is broken
2. I don't think liquid-fixpoint is maintaining this invariant internally. At least environment reduction would eliminate redundant bindings without considering it.
3. It doesn't look like an algorithm to establish the invariant exist

[2021-10-07 12:52] facundominguez commented on #496
Also, it is worth noting that this invariant doesn't affect correctness of the core of PLE itself. If the invariant doesn't hold, PLE will just duplicate some effort analyzing some bindings more than once.

The thing that breaks is the way in which equalities are collected. Whether a Trie or some other data structure is used, is of little consequence if the algorithm is forced to deliver new equal

[2021-10-08 20:30] ranjitjhala commented on #496
Hi @facundominguez  -- sorry I was putting out some other fires :-)

First, in this case, here's the duplicated variant which respects the "trie invariant" by cloning `4` as `40`:

[code]

Now I get:

[code]

Second, the goal of the `trie` is precisely to

1. Represent all the constraints with shared binders,
2. Compute (PLE) equalities per binder, which allows
3. Sharing the equalities across all

[2021-10-08 20:50] facundominguez commented on #496
I think I follow this far. Though I'm not proposing to eliminate the trie, I'm just saying that the discovered equalities shouldn't be collapsed into a single map of bindings to equalities (i.e. the `InstRes` type in the implementation).

When the constraints are tree like, bindings are shared and no work is duplicated. And when the constraints aren't tree like, it is just slower, but still yields

[2021-10-11 19:56] facundominguez commented on #496
Here goes an attempt at explaining a fix. I'm proposing to eliminate the tree-like invariant. PLE will continue to be as fast as today if the invariant holds. And when the invariant doesn't hold, PLE will become as slow as the fixup that duplicates bindings as necessary to establish the invariant again.

Simplifying many details, the current PLE works schematically as follows:
[code]

As the multi

[2021-10-23 19:50] facundominguez commented on #496
Some tests in LiquidHaskell fail if we check that joint points in the trie do not occur on separate branches (here's the patch: a0f2dc95). All the tests I tried pass if I disable environment reduction.

[2021-10-27 16:53] facundominguez commented on #496
Interesting. Github doesn't let me reopen this issue.

[2021-10-27 17:52] ranjitjhala commented on #496
Oops! Just reopened

[2021-10-28 13:45] facundominguez opened #500 "A plan for optimizing PLE"
I spent some time last week looking at dumps of formulas from PLE, and it is looking like we could go far by reducing the amount of equations that are produced and then their size.

There are some categories of equations in the output, discussed below. I have the impression that addressing these, and some redundant computations, the PLE version based on `fastEval` could be sped up to less than hal

[2021-10-28 17:31] ranjitjhala commented on #500
Hi @facundominguez -- these are excellent observations, thanks! I *suspect* some of them will get addressed with the `interpreter-ple` mode that @michaelborkowski has been working on, so I think we should get that merged in ASAP and see what remains then?

[2021-11-05 00:47] facundominguez commented on #489
The following change undoes the effect of 1874 on `tests/pos/T1874.hs`
[code]
This has LH fail with
[code]
when I look at the equations produced by PLE in the constraint 21 I get surprisingly:
[code]
Which are too little equations, in particular, there is no sign of the measure function `exprType`, though other equalities from measures are there.

If we instead run the test with the unmodified LH,

[2021-11-05 01:25] facundominguez commented on #489
Looking at the environment of constraint 21 doesn't give me much of a clue yet. The data constructors `Lam` and `App` appear in the formulas, which should cause PLE to introduce `exprType` equations for them when it is only a measure.
[code]

[2021-11-05 02:04] ranjitjhala commented on #489
Interesting @nikivazou any ideas?

On Thu, Nov 4, 2021 at 6:25 PM Facundo Domínguez ***@***.***>
wrote:

[2021-11-05 02:15] facundominguez commented on #489
I have a fix!

The issue would be that in order for PLE to consider a subexpression as a "candidade" for analysis, according to the function `makeCandidates`, it needs to be `reducible` or an `if-then-else`, no condition of which is met by the occurrences of   our data constructors here.

The following fix gets verification going, we would have to check that it doesn't introduce performance regres

[2021-11-05 02:47] ranjitjhala commented on #489
Fantastic!!!

On Thu, Nov 4, 2021 at 7:15 PM Facundo Domínguez ***@***.***>
wrote:

[2021-11-05 09:46] nikivazou commented on #489
That's great! So, we should use this approach instead and revert my insufficient fix (ucsd-progsys/liquidhaskell#1874) that based on @michaelborkowski  slowed down performance!

[2021-11-06 17:54] #489 closed, assigned to nobody

[2021-11-08 10:42] curiousleo opened #506 "`nix-build` and `nix-shell` error: "called without required argument""
Hi, the Nix setup isn't working for me on b02601f49f01578bd5158a5d29bf0e1c685b7f89.

[code]

[code]

[2021-11-08 10:43] curiousleo commented on #506
The nixpkgs pin is quite old. I would be happy to give updating the Nix setup a shot, perhaps with the help of https://github.com/nmattia/niv, if there is interest in getting the Nix setup to work.

[2021-11-08 10:59] facundominguez commented on #506
Hello Leo! I've been building liquid-fixpoint with the setup in https://github.com/ucsd-progsys/liquidhaskell which is based on `stack`. It looks to me like a copying that setup here would be simplest to maintain since it requires the less nix-specific configuration. But if there are other nix users here, they can weigh in.

[2021-11-08 11:08] curiousleo commented on #506
That sounds like a great idea to me.

[2021-11-11 16:52] #506 closed, assigned to nobody

[2021-11-13 21:27] robinbb commented on #500
@ranjitjhala Is there a PR for that, or has it been merged already?

[2021-11-13 22:49] facundominguez commented on #500
There is pr #502. In principle, it is rather complementary to these optimizations but it affects the same code.

There is another pr #508 that could have more of an overlap, but I haven't dived into it yet.

[2021-11-16 12:10] curiousleo commented on #46
I'm taking a look at this today.

[2021-11-16 14:28] curiousleo commented on #46
I revived / rewrote some of the `Arbitrary` instances already present in `tests/test.hs`. At the top level, expressions are generated and we check the following:

[code]

In doing so, I've come across a few parsing errors and a few instances where the equality fails. Note that I am probably not validating expressions properly -- some or all of these may not actually be considered valid expressions

[2021-11-16 15:56] curiousleo commented on #46
Two questions at this point:

1. The fact that counterexamples come so easily makes me wonder if `expr == rr (showpp expr)` is even a goal -- is it?
2. Do you see anything obviously wrong with the generated expressions in the counterexamples, that is, are any of them invalid? I would try to add validation so invalid expressions are not generated.

[2021-11-16 16:21] ranjitjhala commented on #46
TBH while the goal seems good, I think it may be too hard at this point
I especially worry if there are changes to the parser that will break a lot
of stuff :-(

On Tue, Nov 16, 2021 at 7:57 AM Leonhard Markert ***@***.***>
wrote:

[2021-11-16 16:58] curiousleo commented on #46
@ranjitjhala that makes sense. In that case I suggest closing this ticket.

Can you think of uses for an `instance Arbitrary Expr`? I revived / rewrote it for experimenting on this issue and created a draft PR for it here: https://github.com/ucsd-progsys/liquid-fixpoint/pull/513. I would like to include at least one test in that PR that actually makes use of the `Arbitrary Expr` instance.

[2021-11-16 19:20] facundominguez commented on #46
I have found cases where liquid-fixpoint would be unable to read the very same .fq files that it has produced. At this stage, I can go and fix it for my particular case, but this is rather unergonomic. It would give us a better debugging experience if the round-trip property held.

We could avoid that by fixing the pretty-printer instead, or by strictly expanding the set of strings accepted by the

[2021-11-16 19:35] ranjitjhala commented on #46
@facundominguez -- yes I agree, its annoying to have generated .fq files that don't parse. I wonder if we can make some small examples that we can use to fix this issue instead? `liquidhaskell` does use some parts, e.g. the parsers for `Sort`, `Expr` / `Pred`, `Qualifier` and some other such things, so we probably don't want to change those.

But yes, there are lots of little things that the prett

[2021-11-16 20:48] facundominguez commented on #46
That could help too. Are you trying to avoid using quickcheck for some reason? I would expect quickcheck to be rather effective at discovering failing cases.

[2021-11-16 22:11] ranjitjhala commented on #46
Hmm good point! I thought the failing tests might more quickly pinpoint the
specific problems that need to be addressed to solve your issue of not
being able to parse generated FQ files?

On Tue, Nov 16, 2021 at 12:49 PM Facundo Domínguez ***@***.***>
wrote:

[2021-11-17 00:03] shingarov opened #514 "Commit d6203 breaks PLE?"
Since commit d6203 (Send bindings to the SMT solver ahead of validating constraints), all  `tests/horn/pos/ple*` and `tests/horn/neg/ple*` tests crash like this:
[code]
Is this intended?

[2021-11-17 00:59] facundominguez commented on #514
Hello!

It is not intended as far as I'm aware. The following command succeeds for me at d3bcbd0c (develop branch).

[code]
also
[code]

I'm running everything from the liquidhaskell repo. But perhaps you have some instructions to reproduce (?)

[2021-11-17 12:34] facundominguez commented on #46
Yes. I think that those tests will help exposing issues for which quickcheck would need a lot of arbitrary instances. But quickcheck can explore better the round trip for those types which do have arbitrary instances today. In sum, probably doing both is worth the trouble.

[2021-11-17 14:50] curiousleo commented on #296
There are `BitVec`s in the tests, which I think shows that `BitVec`s are parsed: https://github.com/ucsd-progsys/liquid-fixpoint/blob/3438be3ddf1823aab84b47b0ad34f03640ea384c/tests/pos/hex.ts.fq#L211-L218

However, the comment here was about the `litP` parser being too lenient, i.e. parsing more than it should:

My best guess from a cursory reading is that the comment is simply misleading. The nam

[2021-11-17 14:54] curiousleo commented on #323
This should be fixed by https://github.com/ucsd-progsys/liquid-fixpoint/pull/509.

[2021-11-17 14:57] curiousleo commented on #467
Since May 9th, there have been two Hackage releases of `liquid-fixpoint`:

- https://hackage.haskell.org/package/liquid-fixpoint-8.10.7 on 2021-11-03
- https://hackage.haskell.org/package/liquid-fixpoint-0.8.10.7 on 2021-11-05

So it looks like the fixes have been released and this issue can be closed.

[2021-11-17 15:22] ranjitjhala commented on #46
👍🏽 Agreed!!

On Wed, Nov 17, 2021 at 4:34 AM Facundo Domínguez ***@***.***>
wrote:

[2021-11-17 15:25] curiousleo commented on #371
This project definitely builds against GHC 8.10.7 as that is what's used in CI: https://github.com/ucsd-progsys/liquid-fixpoint/blob/3438be3ddf1823aab84b47b0ad34f03640ea384c/stack.yaml#L3

I guess this issue can be closed in the sense of "there is a newer version of GHC that you can use for which we know `liquid-fixpoint` builds"?

Alternatively, the CI build could run against several GHC versions

[2021-11-17 15:29] ranjitjhala commented on #371
Oops yes this is super old let’s close!

On Wed, Nov 17, 2021 at 7:26 AM Leonhard Markert ***@***.***>
wrote:

[2021-11-17 15:29] #371 closed, assigned to nobody

[2021-11-17 19:21] shingarov commented on #514
I simply do
[code]
Then
[code]
gives the above crash.

[2021-11-17 19:24] shingarov commented on #514
But if I checkout any preceding commit, it works just fine:
[code]

[2021-11-17 20:29] facundominguez commented on #514
It works in my local environment, and it works in CI as well:
https://app.circleci.com/pipelines/github/facundominguez/liquid-fixpoint/3/workflows/da6f3530-147b-4041-8c81-425700ad2f87/jobs/3/parallel-runs/0/steps/0-109

I checked the code, and can't see why it would fail as reported.

Still, if someone can reproduce it, please feel free to investigate. Or maybe if @shingarov can make it fail in CI

[2021-11-17 20:37] facundominguez commented on #296
`litP` is only used at one place in `funAppP` which doesn't seem specific to bitvectors. So it would be one more bit of evidence to support removing the outdated comment.

[2021-11-17 20:58] ranjitjhala commented on #514
@shingarov -- what version of `z3` do you have? I wonder if that is the issue here? [ though its odd that earlier commits are ok ... ]

[2021-11-17 20:59] ranjitjhala commented on #514
Can you tell us the result of `z3 --version` ?

[2021-11-17 21:53] facundominguez commented on #323
Is this issue about running tests as part of a build with hydra? If so, the ticket is not addressed until we get hydra builds succeeding again. Should we get liquid-fixpoint building in hydra again? I don't really know who depends on this.

[2021-11-17 23:03] shingarov commented on #514
[code]

[2021-11-17 23:08] ranjitjhala commented on #514
hmm and can you also send over these two files (the ones that are crashing)

- `tests/horn/pos/.liquid/ple0.smt2.smt2`
- `tests/horn/pos/.liquid/ple0.smt2.evals.smt2`

[2021-11-18 07:46] curiousleo commented on #323
Ah, right. For the record, `liquid-fixpoint-0.8.10.2` and `liquid-fixpoint-8.10.7` are part of Nixpkgs `master`: https://github.com/NixOS/nixpkgs/blob/3e8ff3181b754e4646766849b5e8142406ac3f12/pkgs/development/haskell-modules/hackage-packages.nix

And at least on some branches of Nixpkgs, builds are taking place: https://hydra.nixos.org/job/nixos/release-21.05/nixpkgs.haskellPackages.liquid-fixpoin

[2021-11-18 09:49] curiousleo commented on #46
Disclaimer: I haven't contributed for long, so I may have gotten this wrong.

# Existing parsers and pretty-printers

I count four pairs of parsers and pretty-printers in `liquid-fixpoint`.

## FQ files

- Type: [`Types.Constraints.FInfoWithOpts`](https://github.com/ucsd-progsys/liquid-fixpoint/blob/3438be3ddf1823aab84b47b0ad34f03640ea384c/src/Language/Fixpoint/Types/Constraints.hs#L688-L691) / [`

[2021-11-18 11:02] facundominguez commented on #46
Of the three parsers that remain, two of them use the third one, right? FQs and Horn queries depend on the parser of Expressions to, well, parse expressions. Thus, they aren't three separate parsers. Does this fact make the implementation more sensible? How would you arrange things otherwise?

[2021-11-18 12:25] curiousleo commented on #46
Thanks, that clarifies the connection: for the FQ parser / pretty-printer to be inverses of each other it is necessary but not sufficient that the Expression parser / pretty-printer are inverses of each other.

[2021-11-18 13:32] curiousleo commented on #46
For completeness' sake, here are two more types with parsers attached to them.

## SMT command

- Type: [`Smt.Types.Command`](https://github.com/ucsd-progsys/liquid-fixpoint/blob/3438be3ddf1823aab84b47b0ad34f03640ea384c/src/Language/Fixpoint/Smt/Types.hs#L47-L62) (several constructors take an `Expr`).
- Parser: [`Parse.commandP`](https://github.com/ucsd-progsys/liquid-fixpoint/blob/3438be3ddf1823a

[2021-11-18 14:58] ranjitjhala commented on #46
As it happens there is a fifth one: Horn.Parse :-)

the smt pair is specialized to SMTLIB hence has to be different.

[2021-11-18 15:11] curiousleo commented on #46
My starting point is that any hand-written parser and pretty-printer needs maintenance and testing. So looking at the situation holistically, my aim would be to reduce parsing and pretty-printing code as much as possible.

# Languages that need custom parsing or pretty-printing

## Expression

The Expression (`Expr`) language is a custom language and needs its own parser. Given that the Expression

[2021-11-18 15:15] curiousleo commented on #46
Is this one different from [what I called "SMT2 files"](https://github.com/ucsd-progsys/liquid-fixpoint/issues/46#issuecomment-972704494), parsed by `Horn.Parse.hornP`? (I edited that comment several times -- if you receive GitHub comments via email, you may not have seen the most up to date version of that comment).

[2021-11-18 17:51] shingarov commented on #514
[ple0.smt2.evals.smt2.txt](https://github.com/ucsd-progsys/liquid-fixpoint/files/7564899/ple0.smt2.evals.smt2.txt)
[ple0.smt2.smt2.txt](https://github.com/ucsd-progsys/liquid-fixpoint/files/7564900/ple0.smt2.smt2.txt)

[2021-11-18 17:53] shingarov commented on #514
(sorry had to append .txt to the names because this UI rejects attachments based on "extension")

[2021-11-18 18:35] facundominguez commented on #46
Perhaps it is a good time to mention that we have two kinds of file with .smt2 extension. One such kind is used for the horn format, and the other contains the logging of the smtlib2 text sent to the smt solver (and dumped in the `.liquid` directories).

Regarding FQ files, and the horn format, I don't think we can call them internal. They are the user facing format when liquid-fixpoint is used as

[2021-11-18 19:59] ranjitjhala commented on #46
Yes, that is correct -- thanks for the clarification!

On Thu, Nov 18, 2021 at 10:35 AM Facundo Domínguez ***@***.***>
wrote:

[2021-11-19 08:26] curiousleo commented on #296
I think this issue can be closed now that #515 has been merged.

[2021-11-19 11:21] #296 closed, assigned to nobody

[2021-11-25 11:27] curiousleo opened #518 "ParserTests failure on develop branch"
`stack test` just gave me this on `develop` (a7f4fd7c250bf72a24332b2ffc99d067ee2bdfb1):

[code]

[2021-11-25 12:51] curiousleo commented on #518
My bad, this was caused by a local change. Sorry about the noise. Closing.

[2021-11-25 12:51] #518 closed, assigned to nobody

[2022-02-10 18:48] nilehmann opened #523 "Fixpoint doesn't complain about constraint with free vars"
Fixpoint returns safe for the following constraint, but it should complain that `a1` is free in the constraint `a1 + 1 > a1`

[code]

[2022-02-11 00:22] #523 closed, assigned to nobody

[2022-02-14 13:34] andrewthad opened #526 "Add upper bound <0.2 for rest-rewrite"
Also, add this bound as a hackage revision. `rest-rewrite-0.2` changes the names of modules and `liquid-fixpoint` is not compatible with it.

[2022-02-23 16:56] Fizzixnerd opened #528 "Make `SortedReft`'s `Fixpoint` instance equal to something like `mkSortedReftSimplifier`"
Lets remember to remove this function in another PR.
`SortedReft` has an instance of the class `Fixpoint`, and the class `Fixpoint` has a `simplify` method. However the instance for `SortedReft` defines `simplify` as `id` instead of something like `mkSortedReftSimplifier` which, arguably, would be a more reasonable implementation.

_Originally posted by @facundominguez in https://github.com/ucsd-p

[2022-02-23 17:18] Fizzixnerd opened #529 "Use `IntSortedReft`s instead of arbitrary `SortedReft`s in test cases for `undoANF`"
Sometimes `inlineInExpr` would need to insert sort coercions when inlining a binding which doesn't have exactly the same sort as expected at the place in which the binding is referenced. Here `inlineInExpr` needs to determine what the actual and the expected sorts are, and there is where sort inference is involved, which sometimes seems to require unification.

Are you sure no other code relies on

[2022-02-23 21:16] #529 closed, assigned to nobody

[2022-02-24 16:36] #528 closed, assigned to nobody

[2022-02-28 19:15] facundominguez opened #533 "Property based test failure: simplify does not increase expression size"
I can reproduce this in `develop` at 9b70c26f.

[code]

[2022-03-11 02:12] waivio opened #536 "'ple_sum_fuel.5.smt2' tests fail after 'rest-rewrite' bump"
I ran into some problems, I worked with @facundominguez, to bump the
`rest-rewrite` library to use a more modern version of `hashable`.
During this effort @facundominguez recomended that I attempt to fix
the upstream dependencies of the library.  The only library dependent on
`rest-rewrite` is `liquid-fixpoint`, and that is convenient because I
would also like to do some ground-work to get it work

[2022-03-25 16:35] ConnorBaker commented on #536
For what it's worth, I saw the same behavior: https://github.com/ConnorBaker/liquid-fixpoint/commit/51e4bbc87c73ff9e403bd75f75e0d245bad55ad3.

Dropping the fuel unit down by one fixed both.

[2022-03-27 02:58] ranjitjhala commented on #536
This is strange … @niki or @mborkowski any idea?

On Fri, Mar 25, 2022 at 9:35 AM Connor Baker ***@***.***>
wrote:

[2022-03-28 01:09] ConnorBaker commented on #536
Is it possible that this was caused by using a different version of SMT solver?

Is there any sort of regression test run with new releases of SMT solvers, or documentation of which versions work well?

[2022-04-01 23:22] facundominguez commented on #500
Hello! I've been quietly working on this during the last weeks. I accumulated some achievements but I have been finding tests again and again which challenged my understanding of the interactions of PLE with LH.

At the moment, I have only one test failing: my own `Rest.hs`, and by extension stitch-lh. All other tests in LH are passing.

Here's a list of the more interesting things that I have imp

[2022-04-04 12:50] facundominguez commented on #536
I found when working on #500 that this test allows more unfoldings than necessary. I fixed it in the yet unmerged 7170cedf7. However, I only came across this problem after modifying PLE with some optimization attempts.

If you'd like to get this unblocked, maybe we could just reduce the fuel of the test, and revisit it when merging the above patch. PLE is easier to inspect with the work of #500 ra

[2022-04-05 03:24] waivio commented on #536
How can we improve the documentation about the test?

- What is PLE?
- Why should this test fail?
- What is this failure trying to prove?
- What is fuel in this context?
- What is positive and negative in this context?
- What is el and na in this context?

Maybe the test should be changed to pass...??
I don't know.

[2022-04-06 13:57] facundominguez commented on #536
I think an overview is missing in the description of liquid-fixpoint to list the major algorithms and their publications. This one is for PLE (proof by logical evaluation): https://ranjitjhala.github.io/static/refinement_reflection.pdf

Because it is supposed to be limited how many times liquid-fixpoint is going to unfold definitions to discover the equality.

That the limit on the amount of unfol